/* ## Variables
-----------------------------------------------*/

$font-stack-primary: 'Assistant', sans-serif;
$font-stack-secondary: 'Verdana', sans-serif;

$color-primary: #ED08D3;
$color-primary-light: #E057CC;
$color-primary-dark: #C624AE;

$color-secondary: #ebb220;

$color-black: #1B1C25;

$color-gray-dark: #1E2128;
$color-gray-medium: #404F60;
$color-gray-light: #7c7c7c;

$shadow-primary: 1px 1px rgba(0, 0, 0, .75);
