@import "variables";
@import "mixins";
/**
 * Global styles
 */



 .clearfix::before {
 	content: " ";
 	display: table;
 }

 .clearfix::after {
 	clear: both;
 	content: " ";
 	display: table;
 }


html {
    font-size: 62.5%; /* 10px browser default */
		// Hack for CSS MQPacker sorting
	  @media (min-width: 576px){ font-size: 62.5%;}
    @media (min-width: 768px){ font-size: 62.5%;}
		@media (min-width: 992px){ font-size: 62.5%;}
    @media (min-width: 1200px){ font-size: 62.5%;}
}

body {
  font-family: $font-stack-primary;
  @include font-size(1.8);
  line-height: 1.625rem;
  text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
	font-kerning: normal;
  color: $color-gray-light;
  line-height: 3.6rem;
}

a[name='start'] {
  padding-top: 5rem;
  text-decoration: none;
  color: $color-gray-dark;
}

.container-fluid {
  padding-right: 3rem;
  padding-left: 3rem;
}

.home header {
  background-color: $color-gray-dark;
  /*background-color: #101418;*/
  color: #fff;
  // display: flex;
  // height: 50%;
  // flex-flow: column;
  // justify-content:center;
  // align-items: center;
  text-align: center;
  // z-index: 99999!important;
  padding: 6rem 0 5rem;

  // @include bp(mama-bear) {
  //   // height: 760px;
  // }
  //
  // @include bp(papa-bear) {
  //   // height: 760px;
  // }
  //
  // @include bp(grandpa-bear) {
  //   height: 760px;
  // }
}



.home-carousel-header-arrow {
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: url('/images/icon-arrow-bottom.svg');
  opacity: .2;
  transition: opacity .25s ease-in-out;
  // display: flex;
  display: block;
  margin: 3rem auto 0;
  position: absolute;
  bottom: 0;
  left: 30%;
  right: 50%;

}

.portfolio .home-carousel-header-arrow {
  margin: 3rem auto 2rem;
}

.home .home-carousel-header-arrow {
  position: relative;
  left: 0;
  right: 0;
}

.home-carousel-header-arrow:hover {
  opacity: 1;
}

.home header h1 {
  width: 99px;
  height: 180px;
  text-indent: -9999px;
  display: block;
  background: url("../images/pl_home_logo_anim.gif") no-repeat;
  background-size: contain;
  z-index: 99999!important;
  margin: 1.5rem auto 0;
}

.home header h2 {
  // width: 100%;
  @include font-size(2.4);
  margin: 2rem auto 10rem;
  line-height: 5rem;
  z-index: 99999!important;
  font-weight: 300;

@include bp(mama-bear) {
  @include font-size(3.6);
  margin: 4rem auto 20rem;
}

@include bp(papa-bear) {
  max-width: 80%;
}

@include bp(grandpa-bear) {
  max-width: 65%;

}

  // @include bp(grandpa-bear) {
  //   width: 60%;
  // }

  // @include bp(papa-bear) {
  //   width: 80%;
  // }






}

.home-workwith {
    padding-top: 100px;
    padding-bottom: 100px;
}

.home-workwith-header-text {
  font-weight: 400;
  line-height: 36px;
  color: $color-gray-light;
}

.ww-panels>div {
  margin: 0 1rem 3rem;

  @include bp(baby-bear) {
    margin: 0 0 3rem;
  }

  @include bp(papa-bear) {
    margin: 0;
  }

}

.ww-panels .carousel {
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);
  z-index: 1;
  position: relative;
  min-height: 330px;
}

.ww-panels .carousel-indicators {
  bottom: 2rem;
  display: none;
  // opacity: 0;
}

.ww-panels .carousel-indicators li {
  background-color: #e1e1e1;
  width: 1.5rem;
  height: 1.5rem;
  flex: none;
  border-radius: 50%;
  margin-left: 1rem;
}

.ww-panels .carousel-indicators li:first-child {
  display: none;
  margin-left: 0;
}

.ww-panels .carousel-indicators li.active {
  background-color: #fff;
  border: 1px solid $color-primary;
}

.ww-panels .carousel-item {
  height: 330px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 4rem 5rem 4rem;
  text-align: center;
}

.ww-btn {
  border-radius: 2px;
  border:1px solid #4A90E2;
  background-color: #fff;
  color: #4A90E2;
  padding: 1.2rem 1.5rem;
  @include font-size(1.6);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 40%;
  text-align: center;
  top: 70%;
  // opacity: 0;
  z-index: 1;
  // transition: top .5s ease-in-out;
}

// .ww-btn.active {
//   top: 15%;
// }


.ww-btn:hover {
  text-decoration: none;
  background-color: #4A90E2;
  color: #fff;
}

.ww-panels h3 {
  margin: 0 0 2rem 0;
  @include font-size(2.4);
  font-weight: 400;
  color: $color-gray-light;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  // width: 40%;
  text-align: center;
  top: 70%;
  // transition: top .9s ease-in-out;
}

// .ww-panels h3.active {
//   top: 15%;
// }

.ww-panels .carousel-item.ww-panel-icon {
  justify-content: space-around;
  margin-top: -2rem;
}

.ww-panels p {
  @include font-size(1.6);
  color: $color-gray-light;
  line-height: normal;
  margin: 1.5rem 0;
}

#home-carousel-testimonial {
    .carousel-inner {
        .carousel-item {
            transition-property: opacity;
            // transition: opacity .5s ease-in-out;
            // float: left;
        }

        .carousel-item,
        .active.left,
        .active.right {
            opacity: 0;
            // z-index: 1;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
            // z-index: 3;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 9!important;
    }
}



/**
 * Navigation
 */

 .site-title-r {
   text-indent: -9999px;
   display: block;
   background: url("../images/logo-proximity-lab-pink-2.svg") no-repeat;
   background-size: cover;
   width: 27px;
   height: 38px;
   text-align: left;
   display: inline-block;
 }

  .site-title-r.pinkey {
    background: url("../images/logo-proximity-lab-pink-2.svg")  no-repeat;
  }

.primary-nav-holder {
  // background-color: $color-gray-dark;
  position: fixed;
  width: 100%;
  z-index: 2;
  transition: all 0.5s ease-in-out;
  // opacity: 0;
  top: 0;
}

.page-navigation {
  padding: 20px 30px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.page-navigation ul {
  margin-bottom: 0;
}

.jumbotron-left,
.jumbotron-right
{
  text-indent: -9999;
  width: 2.2rem;
  height: 2.2rem;
  display: none;
  opacity: .3;
}

.ww-portfolio .jumbotron-left,
.ww-portfolio .jumbotron-right
{
  display: block;
}

.jumbotron-left {
  background: url('/images/angle-left.svg') no-repeat;
}

.jumbotron-right {
  background: url('/images/angle-right.svg') no-repeat;
}

.jumbotron-left:hover,
.jumbotron-right:hover
{
  opacity: 1;
  border-bottom: none!important;
}

.ww-underlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    z-index: -1;
    transition: all .5s ease-in-out;
    // opacity: 0;
  }

  // .ww-work .ww-underlay {
  //     background-color: rgba(255, 255, 255, 1);
  //   }

    .home .ww-underlay {
        background-color: rgba($color-gray-dark, 1);
      }

  .ww-underlay.active {
      width: 85px;
    }

    // .ww-underlay ul {
    //   opacity: 0;
    // }

// .page-navigation ul {
//   display: inline-block;
// }

.page-navigation li {
  display: inline-block;
}
.page-navigation li a {
  color: $color-gray-dark;
  margin-left: 2rem;
  border-bottom: 1px solid rgba($color-gray-dark, 0);
}

// .pinkey li a {
//   color: $color-gray-dark;
// }

.page-navigation li a:hover {
  text-decoration: none;
  border-bottom: 1px solid rgba($color-gray-dark, 1);
}

// .ww-work .page-navigation li a {
//   color: $color-gray-dark;
// }

.home .page-navigation li a {
  color: #fff;
}
// .home .page-navigation li a:hover {
//   color: $color-primary;
// }

.page-navigation-animate {
  opacity: 0;
}

/**
 * Page footer
 */

 .page-footer {
  background-color: #1D2028;
  padding: 50px;
  position: relative;

  // @include bp(mama-bear) {
  //   padding-left: 110px;
  // }
}

// .page-footer-logo {
//   width: 27px;
//   position: absolute;
//   top: 40px;
//   left: 45px;
// }

.page-footer-heading {
  line-height: 60px;
  @include font-size(4.8);
  font-weight: 200;
  color: #FFFFFF;
}

.page-footer-button {
  display: block;
  width: 100%;
  max-width: 300px;
  text-align: center;
  background: $color-primary-dark;
  border-radius: 4px;
  font-weight: 300;
  @include font-size(2.9);
  color: #FFFFFF;
  padding: 2rem 0;
  margin: 0 auto;
  border: none;
  font-family: inherit;
  cursor: pointer;
  outline: none;
  outline: 0;

}

.page-footer-button:focus {
  outline: 0;
}

.page-footer-button:hover {
  color: #FFFFFF;
  background-color: $color-primary-light;
}

.page-footer-button:link {
  text-decoration: none;
}

// .page-footer-links-container {
//   list-style: none;
//   padding: 0;
//   margin: 0 0 20px;
// }

// .page-footer-item {
//   display: inline;
//   margin-right: 22px;
// }

// .page-footer-link {
//   color: #FFB1FE;
//   font-weight: 400;
//   @include font-size(1.6);
//   line-height: 26px;
// }
//
// .page-footer-link:hover {
//   color: #FFB1FE;
//   text-decoration: none;
//   border-bottom: 1px solid $color-primary;
// }

.page-footer-credits {
  @include font-size(1.4);
  font-weight: 400;
  line-height: 20px;
  color: $color-gray-light;
}

.page-footer-separator {
  margin: 0 15px;
  color: $color-gray-medium;
  opacity: 0.3;
}

.page-footer-copyright {
  color: #555;
}

.footer-form-step {
  display: none;
  height: 300px;
  flex: none;
  position: relative;
}

// .page-footer .footer-form-step ul {
//   text-align: center;
// }

.page-footer .footer-form-step li {
  display: inherit;
  // float: none;
  width: 100%;
}

.page-footer .footer-form-step li a {
  display: block;
  @include font-size(2.4);
  color: $color-gray-light;
  padding: 2rem;
}

.page-footer .footer-form-step li a:hover {
  text-decoration: none;
  color: #fff;
}

.form-close {
  width: 2.4rem;
  height: 2.4rem;
  text-indent: -9999px;
  background: url("/images/icon-form-close.svg") no-repeat;
  display: block;
  position: absolute;
  right: 0;
}

.page-footer .footer-form-step input {
  margin: 0 0 2rem 0;
  height: 4rem;
  border: 0;

    box-sizing: border-box;
    font-family: $font-stack-primary;
}

.page-footer .footer-form-step input[type=text],
.page-footer .footer-form-step input[type=email]
{
  width: 100%;

  background-color: $color-black;
  color: #fff;

  @include font-size(2);
  border-bottom: 1px solid $color-gray-light;
}

.page-footer .footer-form-step input[type=text]:focus,
.page-footer .footer-form-step input[type=email]:focus
{
  border: 1px solid $color-primary-dark;
  // outline: 0;
  outline: none;
  padding: 2.5rem;
}

.page-footer .footer-form-step input[type=submit] {
  border-radius: 2px;
  background-color: $color-primary-dark;
  color: #fff;
  padding: 1.2rem 2.5rem 2rem;
  cursor: pointer;
}

.page-footer .footer-form-step input[type=submit]:hover {
  background-color: $color-primary;
}

.ww-form {
  height: 0;
  transition: display .1s ease-in-out;
  display: none;
}

.ww-form.active {
  display: block;
}

//////
////Portfolio
/////

// .jumbotron-heading {
//     @include font-size(4);
//     font-weight: 300;
//     // line-height: 60px;
//     color: #FFFFFF;
//     padding: 2rem 0;
// }

.ww-portfolio-nav {
  height: 10rem;
}


.ww-portfolio .jumbotron {
  padding-top: 10rem;
}

.ww-portfolio .jumbotron .flex-first {
    order: 0;

    @include bp(papa-bear){
      order: -1;
    }
}

.jumbotron-padding {
  text-align: center;
  // display: flex;
  // flex-flow: row;
  // justify-content: space-between;
  // align-items:  baseline;
  // position: absolute;

  @include bp(baby-bear){
    padding: 0;
  }
}
@media (min-width: 1200px) {
    .jumbotron-padding {
        padding-left: 33px;
        padding-right: 33px;
    }
}

.jumbotron-padding .home-carousel-header-arrow {
  margin:0;
  display: none;

  @include bp(papa-bear) {
    display: block;
  }
}

// .jumbotron-padding img {
//   align-self: center;
// }

.heading-primary {
    font-size: 36px;
    font-weight: 300;
    color: #282828;
    margin-bottom: 1rem;
}

.jumbotron-logo-project {
  margin: 2rem auto;
  width: 100%;
  position: relative;
  display: block;

  @include bp(papa-bear){
    position: absolute;
    top: 40%;
  }
}

.heading-secondary {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 5px;
    color: #7C7C7C;
    margin-bottom: 17px;
}

.ww-separator {
  width: 173px;
  border-top: 2px solid #ED08D3;
  margin: 19px auto;
  display: block;
}

.header-text {
  font-size: 18px;
  color: #7c7c7c;
  line-height: 30px;
  margin: 2rem auto 0;
}

.portfolio-header {
  margin: 3rem 0 6rem;

  @include bp(mama-bear){
    margin: 6rem 0 6rem 0;
    }
}

.ww-sub-text {
  text-align: left;
  line-height: 3rem;
  @include font-size(1.4);
  // max-width: 80%;
  margin-left: 0;

  @include bp(mama-bear){
    text-align: right;
    margin-left: 20%;
    }
}

.project-description {
  margin-bottom: 3rem;
  p {
    font-size: 1.8rem;
    color: #7C7C7C;
    line-height: 3.6rem;
  }

  @include bp(mama-bear){
    padding: 3rem;
    margin: 6rem 0;
    min-height: 525px;
  }
}

.ww-paragraph {
  padding: 0 0 0 3rem;
  border-left: 4px solid #BB203F;
  line-height: 2rem;
  margin: 6rem 0 0 2rem;


  p {
    color: #1E2128;
    font-weight: 200;
  }
  // @include bp(baby-bear){
  //   margin: 6rem 0 0 0;
  //   }

  @include bp(mama-bear){
    padding: 0 0 0 4rem;
    margin: 6rem 0 0 0;
    }

}
