/**
 * About page
 */

/* navigation */

.page-navigation .site-title-r {
    background: url(/images/logo-proximity-lab-white-2.svg) no-repeat;
}

.page-navigation-link {
  color: #B6B6B6;
}

.page-navigation-link-active {
  color: #fff;
}

.page-navigation-link:hover{
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #ED08D3;
}


/* header section */

.about-header {
  height: 560px;
  background-image: url('/images/header-background-home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 190px;
}

@media (min-width: 576px) {
  .about-header {
    padding-top: 230px;
  }
}

@media (min-width: 768px) {
  .about-header {
    height: 760px;
  }
}

.about-logo {
  width: 27px;
  position: fixed;
  top: 37px;
  left: 45px;
  z-index: 3;
}

.about-header-heading-secondary {
  font-size: 12px;
  font-weight: 600;
  color: #FBFBFB;
  letter-spacing: 5px;
}

.about-header-heading-primary {
  font-size: 64px;
  color: #FFFFFF;
}

.about-separator {
  width: 173px;
  border-top: 2px solid #ED08D3;
  margin: 19px auto;
}

.about-header-text {
  font-size: 18px;
  color: #FFFFFF;
  line-height: 30px;
  max-width: 494px;
  margin: 35px auto 0;
  padding: 0 4.1rem;
}


/* service section */

.about-service {
  margin: 50px 0;
}

@media (min-width: 768px) {
  .about-service {
    margin: 100px 0;
  }
}

.about-service-spacing {
  padding: 2rem 2rem 0;
}

@media (min-width: 768px) {
  .about-service-spacing {
    padding: 6rem 2rem 0;
  }
}

.about-service-heading-secondary {
  font-size: 12px;
  font-weight: 600;
  color: #7C7C7C;
  letter-spacing: 5px;
}

.about-service-heading-primary {
  font-size: 36px;
  font-weight: 300;
  color: #282828;
  margin-top: 17px;
  margin-bottom: 28px;
}

.about-service-text {
  font-size: 18px;
  color: #7C7C7C;
  line-height: 36px;
  max-width: 665px;
}

/*.about-service-image {
  min-height: 245px;
  background-image: url('/images/about-service-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media (min-width: 576px) {
  .about-service-image {
    min-height: 345px;
  }
}

@media (min-width: 768px) {
  .about-service-image {
    min-height: 445px;
  }
}

@media (min-width: 992px) {
  .about-service-image {
    min-height: 545px;
  }
}*/

.about-services {
  max-width: 1200px;

}

.about-service-item {
  margin-bottom: 6rem;
}

@media (min-width: 576px) {
  .about-service-item {
    margin-bottom: 4rem;
  }
}

@media (min-width: 576px) {
  .about-service-item {
    margin-bottom: 8rem;
  }
}

.about-service-item-icon {
  height: 67px;
}

.about-service-item-heading {
  font-size: 24px;
  font-weight: 300;
  color: #CF0D7D;
  margin-top: 25px;
  margin-bottom: 26px;
}

.about-service-item-text {
  font-size: 16px;
  color: #7C7C7C;
  line-height: 14px;
  margin-bottom: 17px;
}


/* clients section */

.about-clients {
  background-color: #1E2128;
  padding-top: 95px;
}

.about-clients-heading {
  font-size: 60px;
  font-weight: 300;
  color: #FFFFFF;
  margin-bottom: 9px;
}

.about-clients-text {
  font-size: 18px;
  color: #7C7C7C;
  line-height: 36px;
  max-width: 644px;
  margin-bottom: 4rem;
}

@media (min-width: 576px) {
  .about-clients-text {
    margin-bottom: 90px;
  }
}

.about-clients-logo-container {
  height: 100px;
  position: relative;
  margin-bottom: 3rem;
}

@media (min-width: 576px) {
  .about-clients-logo-container {
    margin-bottom: 100px;
  }
}

.about-clients-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.about-clients-logo-oracle { height: 25px; }
.about-clients-logo-adobe { height: 90px; }
.about-clients-logo-phillips { height: 28px; }
.about-clients-logo-eagle { height: 62px; }
.about-clients-logo-solidworks { height: 32px; }
.about-clients-logo-dyn { height: 52px; }
.about-clients-logo-amadeus { height: 21px; }
.about-clients-logo-nye { height: 70px; }
.about-clients-logo-scribe { height: 28px; }
.about-clients-logo-zynga { height: 44px; }


/* team section */

.about-team {
  background-color: #F7F7F7;
}

.about-team-info {
  background-color: #CF0D7D;
  min-height: 260px;
  padding: 50px 0;
}

@media (min-width: 576px) {
  .about-team-info {
    min-height: 199px;
  }
}

.about-team-info-container {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.about-team-heading-secondary {
  font-size: 10px;
  font-weight: 600;
  color: #000000;
  letter-spacing: 5px;
  margin-bottom: 16px;
}

@media (min-width: 992px) {
  .about-team-heading-secondary {
    font-size: 12px;
  }
}

.about-team-heading-primary {
  font-size: 34px;
  font-weight: 300;
  color: #FFFFFF;
  margin-bottom: .5rem;
}

@media (min-width: 576px) {
  .about-team-heading-primary {
    margin-bottom: 1rem;
  }
}

@media (min-width: 992px) {
  .about-team-heading-primary {
    font-size: 36px;
  }
}

.about-team-text {
  opacity: 0.9;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 3rem;
  max-width: 236px;
  margin: 0 auto;
}


@media (min-width: 576px) {
  .about-team-text {
    line-height: 2.2rem;
  }
}
@media (min-width: 992px) {
  .about-team-text {
    font-size: 18px;
    line-height: 35px;
  }
}

.about-team-person {
  position: relative;
}

@media (min-width: 768px) {
  .about-team-person-overlay:hover {
    opacity: 1;
  }
}

.about-team-person-overlay.active  {
  opacity: 1;
}

.about-team-person-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*background-color: rgb(0, 0, 0, 0.8);*/
  background-color: rgba(0, 0, 0, .8);
  opacity: 0;
  transition: all 0.5s;
}

.about-team-person-wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 0;
  padding: 0 30px;
  width: 100%;
}

.about-team-person-detail-wrapper {
  flex-grow: 1;
}

.about-team-person-name {
  font-size: 28px;
  color: #FFFFFF;
  margin-bottom: 4px;
}

.about-team-person-title {
  font-weight: 300;
  font-size: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 34px;
}

.about-team-person-separator {
  width: 50px;
  border-color: #EF2198;
  opacity: 1;
  position: absolute;
  bottom: 10px;
  margin-left: 29px;
  left: 0;
  
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.hover .about-team-person-separator {
  width: 27px;
  left: 100%;
  margin-left: -56px;
  opacity: 0;
}

@media (min-width: 768px) {
  .hover .about-team-person-separator {
    opacity: 1;
  }
}

.about-team-person-info {
  font-size: 16px;
  color: #FFFFFF;
  line-height: 28px;
  margin-bottom: 55.84px;
}

.about-team-person-linkedin-wrapper {
  flex-grow: 0;
  align-self: flex-end; 
  margin-left: 30px;
}

.about-team-person-linkedin {
  text-decoration: none;
}

.about-team-person-linkedin img {
  width: 25px;
  margin-bottom: 37px;
}

/* location section */

.about-location {
  margin-top: 109px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 95%;
  padding-bottom: 15rem;
}

@media (min-width: 576px) {
  .about-location {
    padding-bottom: 20rem;
    background-position: center 92%;
  }
}

@media (min-width: 768px) {
  .about-location {
    background-image: url('/images/about-location-background.gif');
    padding-bottom: 28rem;
  }
}

@media (min-width: 992px) {
  .about-location {
    padding-bottom: 36rem;
    background-position: center 80%;
  }
}

.about-location-heading-primary {
  font-size: 36px;
  font-weight: 300;
  color: #282828;
  margin-bottom: 20px;
}

.about-location-text {
  font-size: 18px;
  color: #7C7C7C;
  line-height: 36px;
}

.about-location-heading-tertiary {
  font-size: 12px;
  font-weight: 600;
  color: #000000;
  letter-spacing: 5px;
  margin-bottom: 13px;
  margin-top: 40px;
}

.about-location-heading-secondary {
  font-size: 24px;
  font-weight: 600;
  color: #D70F8A;
  margin-bottom: 4px;
}

.about-location-address {
  font-size: 16px;
  color: #737373;
  line-height: 24px;
}
