/**
 * Philips page
 */

/* jumbotron */

.ww-portfolio .jumbotron {
  background-image: linear-gradient(-134deg, #FF1D2B 0%, #A50217 100%);
  margin-bottom: 0;
  position: relative;
  padding-bottom: 0;
  padding-top: 8rem;
}

@media (min-width: 992px) {
    .ww-portfolio .jumbotron {
        padding-top: 7rem;
    }
}

@media (min-width: 1200px) {
    .ww-portfolio .jumbotron {
        padding-top: 7rem;
    }
    .ww-portfolio .jumbotron {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}

.jumbotron-logo-project {
    width: 89px;
    padding-bottom: 2rem;
    margin: auto;
    display: block;
    position: relative;
}

@media (min-width: 992px) {
    .jumbotron-logo-project {
      margin: auto 0;
      position: absolute;
      top:0;
      bottom:0;
      right: 55px;
      padding: 0;
      /*left: 3rem;*/
    }
}
/* portfolio */

@media (min-width: 992px) {
    .hidden-md {
      display: block;
    }
}

.portfolio {
    padding: 0 0 3.4rem 0;
}

@media (min-width: 768px) {
    .portfolio {
        padding: 3rem 0 6rem 0;
    }
}

.ww-paragraph {
  border-color: #5F97E9;
  margin-bottom: 6rem;
}

.ww-paragraph p {
  line-height: normal;
}

.project-description {
  min-height: 0;
  margin-bottom: 2rem;
}

.project-description-1 {
    padding: 0;
    margin: 0;
}

.project-description-2 {
    padding-top: 3rem;
}

@media (min-width: 576px) {
    .project-description {
      padding: 0 6rem 0;
      margin-bottom: 2rem;
    }
}

@media (min-width: 768px) {
    .project-description {
      margin-bottom: 3rem;
    }

    .project-description-0 {
      padding: 0 6rem;
    }

    .project-description-1 {
      padding: 0;
    }

    .project-description .description-text-col {
      padding-right: 5rem;
      padding-left: 5rem;
    }

    .project-description-0 .description-text-col {
      padding-right: 0;
    }
}

@media (min-width: 992px) {
  .project-description {
    padding: 6rem 6rem 0;
    margin-bottom: 3rem;
  }

  .project-description-0 {
      padding: 6rem 0 0 6rem;
      margin-bottom: 6rem;
  }

  .project-description-1 {
    padding: 0;
  }

  .project-description-3 {
    padding-top: 0;
  }
}
@media (min-width: 1200px) {
  .project-description-0 {
      margin-bottom: 0;
  }

  .project-description-3 {
    padding-top: 3rem;
  }
}

.project-description p {
  margin-bottom: 3rem;
}

.project-description p:last-child {
  margin-bottom: 0;
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
    .project-description p:last-child {
      margin-bottom: 0;
    }
}

@media (min-width: 992px) {
    .project-description p:last-child {
      margin-bottom: 0;
    }
}

.scroll-down-arrow {
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: url(/images/icon-arrow-bottom.svg);
    opacity: .2;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    display: none;
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    right: 90px;
}

.scroll-down-arrow:hover {
    opacity: 1;
}

@media (min-width: 992px) {
    .scroll-down-arrow {
        display: block;
        margin-bottom: 3rem;
    }
}

@media (min-width: 768px) {
    .portfolio-image {
        background-repeat: no-repeat;
        background-image: url('/images/songbird-carousel-placeholder.png');
    }
}

.portfolio-service {
    margin: 40px 0;
}

.portfolio-service-icon {
    margin-bottom: 27px;
}

.portfolio-service-heading {
    font-size: 24px;
    font-weight: 300;
    color: #4A4A4A;
    margin-bottom: 16px;
}

.portfolio-service-text {
    max-width: 292px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    color: #989898;
}
.project-more-info {
  background: url('/images/portfolio_bgd_amadeus.jpg') no-repeat;
  background-size: cover;
  background-position: center top;
  font-size: 1.5rem;
    color: #282828;
    /*padding: 0;*/
}

.project-more-info .top {
  padding: 4rem 3rem 34rem;
}

@media (min-width: 576px) {
  .project-more-info .top {
    padding: 3rem 3rem 26rem;
  }
}

@media (min-width: 768px) {
  .project-more-info .top {
    padding: 6rem 6rem 20rem;
  }
}

@media (min-width: 992px) {
  .project-more-info .top {
    padding: 10rem 10rem 20rem;
  }
}

.project-more-info h2 {
  font-size: 3.4rem;
  font-weight: 300;
  margin-bottom: 1.7rem;
}

.project-more-info p {

}

@media (min-width: 576px) {
  .project-more-info p {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .project-more-info p {
    margin-right: 30%;
  }
}

@media (min-width: 768px) {
  .project-more-info p {
    margin-right: 40%;
  }
}

.project-more-info .bottom {
  padding: 2rem 0 0 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.project-more-info .bottom .inner img {
  width: 100%;
}

.container-fluid.portfolio-services {
    padding: 0 15px;
}

@media (min-width: 576px) {
  .container-fluid.portfolio-services {
    padding: 0 6rem;
  }
}

@media (min-width: 1440px) {
  .container-fluid.portfolio-services {
    padding: 0 6rem;
  }
}

.portfolio-service {
  margin: 0 0 6rem;
}

@media (min-width: 576px) {
  .portfolio-service {
    margin: 0 0 2rem;
  }
}

@media (min-width: 1200px) {
  .portfolio-service {
    margin: 0 0 6rem;
  }
}

.adobe-portfolio .adobe-portfolio-services .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}

.adobe-portfolio .adobe-portfolio-services .row > [class*='col-'] {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  padding: 0 4rem;
}

@media (min-width: 992px) {
  .portfolio-service {
    margin-top: 0;
  }
}

.adobe-portfolio .adobe-portfolio-services .project-service {
  background: #FFFFFF;
  box-shadow: 0 2px 15px 0 rgba(0,0,0,0.20);
  margin: 0 0 3rem;
  height: 100%;
}

.adobe-portfolio .adobe-portfolio-services .project-service img {
  max-width: 100%;
  height: auto;
  margin-bottom: 27px;
}

.adobe-portfolio .adobe-portfolio-services .portfolio-service-body {
  margin: 40px 0;
}

.adobe-portfolio .adobe-portfolio-services .portfolio-service-heading {
    color: #4A4A4A;
    padding: 0 3rem 1.3rem;
    font-size: 1.8rem;
    color: #282828;
    font-weight: 700;
}

.adobe-portfolio .adobe-portfolio-services .portfolio-service-text {
    max-width: 100%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    color: #989898;
    padding: 0 3rem 3rem;
}

.adobe-carousel,
.adobe-carousel .carousel-inner,
.adobe-carousel .carousel-inner .carousel-item {
  width: 100%;
  height: 110px;
}

.adobe-carousel .carousel-inner .carousel-item {
  opacity: 0;
  display: block;
  position: absolute;
  -webkit-transition: opacity 1.25s ease-out;
  -moz-transition: opacity 1.25s ease-out;
  -ms-transition: opacity 1.25s ease-out;
  -o-transition: opacity 1.25s ease-out;
  transition: opacity 1.25s ease-out;
}

.adobe-carousel .carousel-inner .carousel-item.active {
  opacity: 1;
  display: block;
  -webkit-transition: opacity 1.25s 1.5s ease-in;
  -moz-transition: opacity 1.25s 1.5s ease-in;
  -ms-transition: opacity 1.25s 1.5s ease-in;
  -o-transition: opacity 1.25s 1.5s ease-in;
  transition: opacity 1.25s 1.5s ease-in;
}

.adobe-carousel {
  margin-bottom: 2.2rem;
  padding-left: 0;
}

@media (min-width: 992px) {
  .adobe-carousel {
    padding-left: 0;
  }
}

.adobe-carousel .adobe-product-icon {
  height: 80px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
}

.adobe-carousel .adobe-product-icon img {
  max-width: 80px;
  max-height: 80px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.adobe-carousel h4 {
  text-align: center;
  margin-top: 90px;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 600;
  white-space: nowrap;
}

/* testimonial carousel */
#adobe-carousel-testimonial {
  margin-top: 3rem;
}

.adobe-carousel-testimonial-item-one {
  background-color: #F01928;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.adobe-carousel-testimonial-caption {
    position: relative;
    width: 85%;
    right: 0;
    left: 0;
    margin: 0 auto 0;
    padding-bottom: 0;
}

.adobe-carousel-testimonial-text {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
}

@media (min-width: 576px) {
  .adobe-carousel-testimonial-text {
    font-size: 2.4rem;
    line-height: 4rem;
  }
}

@media (min-width: 768px) {
  
}

@media (min-width: 992px) {
  #adobe-carousel-testimonial {
    margin-top: 6rem;
  }

  .adobe-carousel-testimonial-item-one {
    padding-top: 6rem;
    padding-bottom: 5rem;
  }

  .adobe-carousel-testimonial-text {
    font-size: 3rem;
    line-height: 5rem;
    margin-top: 2rem;
  }
}

@media (min-width: 1200px) {
  .adobe-carousel-testimonial-text {
    max-width: 925px;
    margin: 0 auto;
  }
}

.adobe-carousel-testimonial-author {
    width: 70px;
    height: 70px;
    margin: 2rem 0 2rem 0;
}

@media (min-width: 1200px) {
  .adobe-carousel-testimonial-author {
      width: 70px;
      height: 70px;
      margin: 6rem 0 2rem 0;
  }
}

.adobe-carousel-testimonial-author-title {
    font-size: 1.6rem;
    line-height: 44px;
}

@media (min-width: 576px) {
  .adobe-carousel-testimonial-author-title {
      font-size: 20px;
  }
}

