/**
 * Amadeus page
 */

/* jumbotron */

.ww-portfolio .ama-jumbotron {
  background-image: radial-gradient(#CC082B 4%, #F04261 48%, #CC082B 97%);
  margin-bottom: 0;
  position: relative;
  padding-top: 7rem;
}

.jumbotron-logo-project {
    width: 241px;
    padding-bottom: 2rem;
    margin: auto;
    display: block;
    position: relative;
}

@media (min-width: 992px) {
  .ww-portfolio .ama-jumbotron {
    padding-top: 4rem;
  }
    .jumbotron-logo-project {
      margin: auto 0;
      position: absolute;
      top:0;
      bottom:0;
      right: -30px;
      padding: 0;
    }
}

.scroll-down-arrow {
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: url(/images/icon-arrow-bottom.svg);
    opacity: .2;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    display: none;
    position: absolute;
    margin: auto;
    left: 0;
    bottom: 0;
    right: 0;
}

@media (min-width: 992px) {
    .scroll-down-arrow {
        display: block;
        left: 25%;
    }
}

.scroll-down-arrow:hover {
    opacity: 1;
}

.ama-jumbotron-grid {
    position: absolute;
    top: 39px;
    right: 136px;
}

.ama-jumbotron-left {
    position: absolute;
    top: 37px;
    right: 85px;
}

.ama-jumbotron-right {
    position: absolute;
    top: 37px;
    right: 45px;
}

@media (min-width: 1200px) {
    .ama-jumbotron-padding {
        padding-left: 33px;
        padding-right: 33px;
    }
}

.ama-jumbotron-heading {
    font-size: 60px;
    font-weight: 200;
    line-height: 60px;
    color: #FFFFFF;
}

.ama-jumbotron-logo-project {
    /*height: 22px;*/
    width: 241px;
}

.ama-jumbotron-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
}

.ama-jumbotron-bottom {
    margin-top: 51px;
    opacity: 0.3;
}

@media (max-width: 575px) {
  .portfolio-header {
    margin: 3rem 0 3rem;
  }
}

/* portfolio */

.ama-portfolio-heading-secondary {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 5px;
    color: #7C7C7C;
    margin-bottom: 17px;
}

.ama-portfolio-heading-primary {
    font-size: 36px;
    font-weight: 300;
    color: #282828;
    margin-bottom: 32px;
}

.ama-portfolio-paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #7C7C7C;
    line-height: 36px;
}

.ama-portfolio-service {
    margin: 40px 0;
}

.ama-portfolio-service-icon {
    margin-bottom: 27px;
    height: 50px;
}

.ama-portfolio-service-heading {
    font-size: 24px;
    font-weight: 300;
    color: #FFF;
    margin-bottom: 16px;
}

.ama-portfolio-service-text {
    max-width: 100%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    color: #989898;
}

@media (min-width: 992px) {
  .ama-portfolio-service-text {
      max-width: 330px;
}
}

.project-description {
  min-height: 0;
  padding-left: 3rem;
  padding-right: 3rem;
}

@media (min-width: 576px) {
    .project-description {
      padding: 0 6rem;
      margin-top: 0;
    }
}

.ww-paragraph {
  border-color: #BB203F;
  margin: 6rem 0 6rem 2rem;
}

@media (min-width: 992px) {
  .ww-paragraph {
    margin: 4rem 0 4rem 2rem;
  }
}

@media (min-width: 1200px) {
  .ww-paragraph {
    margin: 6rem 0 6rem 2rem;
  }
}

.ww-paragraph p {
  line-height: normal;
  margin-bottom: 3rem;
}

@media (min-width: 1200px) {
  .ww-paragraph p {
    line-height: normal;
    margin-bottom: 6rem;
  }
}


@media (min-width: 768px) {
  .project-description {
    padding: 0 6rem;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .project-description {
    background: url('/images/portfolio-description-bgd-map.png') no-repeat;
    background-position: 140% top;
    padding: 3rem 10rem;
  }
}

@media (min-width: 1200px) {
  .project-description {
    background-position: 110% top;
    background-size: contain;
  }
}

.project-more-info {
  /*background: url('/images/portfolio_bgd_amadeus.jpg') no-repeat;
  background-size: cover;
  background-position: center top;*/
  font-size: 1.5rem;
    color: #282828;
    /*padding: 0;*/
    display: block;
  position: relative;
}

.project-more-info:after {
  content: "";
  background:  url('/images/portfolio_bgd_amadeus.jpg') no-repeat;
  background-size: cover;
  opacity: 0.15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

@media (min-width: 992px) {
.project-more-info:after {
  opacity: 1;
}
}

.project-more-info .top {
  padding: 3rem;
}

@media (min-width: 576px) {
  .project-more-info .top {
    padding: 3rem 6rem;
  }
}

@media (min-width: 768px) {
  .project-more-info .top {
    padding: 6rem;
  }
}

@media (min-width: 992px) {
  .project-more-info .top {
    padding: 10rem 10rem 20rem;
  }
}

.project-more-info h2 {
  font-size: 3.4rem;
  font-weight: 300;
  margin-bottom: 1.7rem;
}

.project-more-info p {

}

@media (min-width: 576px) {
  .project-more-info p {
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  .project-more-info p {
    margin-right: 40%;
  }
}

.project-more-info .bottom {
  padding: 2rem 0 0 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.project-more-info .bottom .inner img {
  width: 100%;
}

.project-services {
  background-color: #1B1C25;
  margin-bottom: 0;
  padding: 0 3rem;
}

@media (min-width: 768px) {
  .project-services {
    margin-bottom: 0;
    padding: 0 6rem;
  }
}

.ww-vid-holder {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .ww-vid-holder {
    width: 500px;
    height: 350px;
    background: url("/images/container-amadeus.png") no-repeat;
    background-size: contain;
    background-position: center;
  }
}

@media (min-width: 1200px) {
  .ww-vid-holder {
    width: 800px;
    height: 500px;
  }
}

.ww-vid {
  position: relative;
  line-height: 0;
}

#video-amadeus {
  width: 100%;
  height: 100%;
}

@media (min-width:768px) {
  #video-amadeus {
    width: 420px;
    height: 315px;
    top: -1px;
  }
}

@media (min-width:1200px) {
  #video-amadeus {
    width: 596px;
    height: 450px;
    left: 1px;
  }
}

#ww-play-pause {
  background: url("/images/icon-play-circle-o-white.svg") no-repeat;
  background-size: 4rem 4.3rem!important;
  background-position: center!important;
  border: none;
  padding: 0;
  text-indent: -9999px;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  outline:0;
  -webkit-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
  cursor: pointer;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 0;
}

@media (min-width: 576px) {
  #ww-play-pause {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 768px) {
  #ww-play-pause {
    width: 420px;
    height: 315px;
    left: 0;
    top: -1px;
  }
}

@media (min-width: 1200px) {
  #ww-play-pause {
    width: 596px;
    height: 448px;
    left: 1px;
    top: 0;
  }
}

#ww-play-pause.ww-init {
  opacity: 0;
  background-size: 4rem 4.3rem;
  background-position: center;
}

#ww-play-pause:hover {
  opacity: 1;
  background-size: 4rem 4.3rem!important;
  background-position: center!important;
}

@media (min-width: 992px) {
  #ww-play-pause:hover {
    opacity: 1;
  }
}

#ww-play-pause.active {
  background: url("/images/icon-pause-circle-o-white.svg") no-repeat;
  background-size: 4rem 4.3rem;
  background-position: center;
}

#ww-play-pause:focus,
#ww-play-pause:active
{
  background-size: 4rem 4.3rem;
  background-position: center;
}
