/**
 * Amadeus page
 */

/* jumbotron */

.ww-portfolio .ama-jumbotron {
  /* Rectangle: */
background-image: linear-gradient(-134deg, #AA1030 0%, #D91B3D 100%);
    margin-bottom: 0;
    position: relative;
    padding-top: 8rem;
}

/*@media (min-width: 1200px) {
    .ama-jumbotron {
        padding-left: 92px;
        padding-right: 92px;
    }
}*/


/*.jumbotron-logo-project {
    margin: 2rem auto;
    width: 100%;
    position: relative;
    display: block;
}
@media (min-width:992px) {
    .jumbotron-logo-project {
    position: absolute;
    top: 40%}
}*/


.jumbotron-logo-project {
    width: 241px;
    padding-bottom: 2rem;
    margin: auto;
    display: block;
    position: relative;
}

@media (min-width: 992px) {
    .jumbotron-logo-project {
      margin: auto 0;
      position: absolute;
      top:0;
      bottom:0;
      right: 0;
      padding: 0;
    }
}

.scroll-down-arrow {
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: url(/images/icon-arrow-bottom.svg);
    opacity: .2;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    display: none;
    position: absolute;
    margin: auto;
    left: 0;
    bottom: 0;
    right: 0;
}

@media (min-width: 992px) {
    .scroll-down-arrow {
        display: block;
        left: 25%;
    }
}

/*@media (min-width: 1200px) {
      .scroll-down-arrow {
          display: block;
      }
}*/


.scroll-down-arrow:hover {
    opacity: 1;
}

.ama-jumbotron-grid {
    position: absolute;
    top: 39px;
    right: 136px;
}

.ama-jumbotron-left {
    position: absolute;
    top: 37px;
    right: 85px;
}

.ama-jumbotron-right {
    position: absolute;
    top: 37px;
    right: 45px;
}

@media (min-width: 1200px) {
    .ama-jumbotron-padding {
        padding-left: 33px;
        padding-right: 33px;
    }
}

.ama-jumbotron-heading {
    font-size: 60px;
    font-weight: 200;
    line-height: 60px;
    color: #FFFFFF;
}

.ama-jumbotron-logo-project {
    /*height: 22px;*/
    width: 241px;
}

.ama-jumbotron-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
}

.ama-jumbotron-bottom {
    margin-top: 51px;
    opacity: 0.3;
}


/* portfolio */

.ama-portfolio-heading-secondary {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 5px;
    color: #7C7C7C;
    margin-bottom: 17px;
}

.ama-portfolio-heading-primary {
    font-size: 36px;
    font-weight: 300;
    color: #282828;
    margin-bottom: 32px;
}

.ama-portfolio-paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #7C7C7C;
    line-height: 36px;
}

.ama-portfolio-service {
    margin: 40px 0;
}

.ama-portfolio-service-icon {
    margin-bottom: 27px;
}

.ama-portfolio-service-heading {
    font-size: 24px;
    font-weight: 300;
    color: #FFF;
    margin-bottom: 16px;
}

.ama-portfolio-service-text {
    max-width: 100%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    color: #989898;
}

@media (min-width: 992px) {
  .ama-portfolio-service-text {
      max-width: 350px;
}
}


.ww-paragraph {
  border-color: #BB203F;
  margin: 6rem 0 6rem 2rem;
}

@media (min-width: 992px) {
  .ww-paragraph {
    margin: 4rem 0 4rem 2rem;
  }
}

@media (min-width: 1200px) {
  .ww-paragraph {
    margin: 6rem 0 6rem 2rem;
  }
}

.ww-paragraph p {
  line-height: normal;
  margin-bottom: 3rem;
}

@media (min-width: 1200px) {
  .ww-paragraph p {
    line-height: normal;
    margin-bottom: 6rem;
  }
}


@media (min-width: 768px) {
  .project-description {
    padding: 0 6rem;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .project-description {
    background: url('/images/portfolio-description-bgd-map.png') no-repeat;
    background-position: 140% top;
    padding: 3rem 10rem;
  }
}

@media (min-width: 1200px) {
  .project-description {
    background-position: 110% top;
    background-size: contain;
  }
}

.project-more-info {
  /*background: url('/images/portfolio_bgd_amadeus.jpg') no-repeat;
  background-size: cover;
  background-position: center top;*/
  font-size: 1.5rem;
    color: #282828;
    /*padding: 0;*/
    display: block;
  position: relative;
}

.project-more-info:after {
  content: "";
  background:  url('/images/portfolio_bgd_amadeus.jpg') no-repeat;
  background-size: cover;
  opacity: 0.15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

@media (min-width: 992px) {
.project-more-info:after {
  opacity: 1;
}
}

.project-more-info .top {
  padding: 3rem;
}

@media (min-width: 576px) {
  .project-more-info .top {
    padding: 3rem;
  }
}

@media (min-width: 768px) {
  .project-more-info .top {
    padding: 6rem 6rem 20rem;
  }
}

@media (min-width: 992px) {
  .project-more-info .top {
    padding: 10rem 10rem 20rem;
  }
}

.project-more-info h2 {
  font-size: 3.4rem;
  font-weight: 300;
  margin-bottom: 1.7rem;
}

.project-more-info p {

}

@media (min-width: 576px) {
  .project-more-info p {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .project-more-info p {
    margin-right: 30%;
  }
}

@media (min-width: 768px) {
  .project-more-info p {
    margin-right: 40%;
  }
}

.project-more-info .bottom {
  padding: 2rem 0 0 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.project-more-info .bottom .inner img {
  width: 100%;
}

.project-services {
  background-color: #1B1C25;
  margin-bottom: 0;
  padding: 0 3rem;
}

@media (min-width: 768px) {
  .project-services {
    margin-bottom: 0;
    padding: 0 6rem;
  }
}

.ww-vid-holder {
  width: 280px;
  height: 162px;
  /*width: 100%;
  height: 100%;*/
  /*max-width: 747px;
  max-height: 432px;*/
  position: relative;
  background: url("/images/macbook-chrome.svg") no-repeat;
  background-size: contain;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .ww-vid-holder {
    width: 500px;
    height: 290px;
  }
}

@media (min-width: 768px) {
  .ww-vid-holder {
    width: 700px;
    height: 407px;
  }
}

@media (min-width: 1200px) {
  .ww-vid-holder {
    width: 747px;
    height: 432px;
  }
}

.ww-vid {
  /*width: 75%;*/
  height: 77%;

  position: absolute;
  margin: 0 auto;
  top: 10%;
  /*bottom: 0;*/
  left: 12%;
  right: 12%;
  background-color: rgba(0, 0, 0, 1);
  padding-top: .7%;
}
