/**
 * Philips page
 */

/* jumbotron */

.jumbotron {

  background-image: linear-gradient(-134deg,  #5913BB 0%, #C330FB 100%);
  margin-bottom: 0;
  position: relative;
}

/*.jumbotron .flex-first img {
    margin: 0 0 -2.1rem 0;
}*/

/*@media (min-width: 576px) {
    .jumbotron .flex-first img {
        margin: 0 0 -4rem 0;
    }
}*/

@media (min-width: 1200px) {
    .jumbotron {
        padding-left: 92px;
        padding-right: 92px;
    }
}

@media (min-width: 1200px) {
    .jumbotron-padding {
        padding-left: 33px;
        padding-right: 33px;
    }
}

.jumbotron-logo-project {
    width: 178px;
    /*left: 3rem;*/
}

@media (min-width: 992px) {
    .jumbotron-logo-project {
        left: 3rem;
    }
}

/* portfolio */

.portfolio {
    padding: 8rem 0 4rem 0;
}

@media (min-width: 768px) {
    .portfolio {
        padding: 8rem 0;
    }
}

.portfolio h2 {
    font-size: 36px;
    color: #282828;
    font-weight: 300;
    margin-bottom: 2rem;
}

.ww-paragraph {
  border-color: #5F97E9;
  margin-bottom: 6rem;
}

.ww-paragraph p {
  line-height: normal;
}

.project-description {
  min-height: 0;
  /*margin-bottom: 0;*/
}

/*.project-description p {
  margin-bottom: 6rem;
}*/

@media (min-width: 768px) {
    .project-description {
      padding: 0 6rem;
      min-height: 0;
      margin-bottom: 3rem;
    }
}

@media (min-width: 992px) {
  .project-description {
    background: url('../images/portfolio-description-eagle-bgd.png') no-repeat;
    background-position: right 60px;;
    /*background-size: cover;*/
    background-size: 100%;
    min-height: 640px;
    /*margin-bottom: 0;*/

  }
}

@media (min-width: 1200px) {
  .project-description {
    min-height: 900px;
    background-size: cover;
    /*min-height: 400px;*/

  }
}

/*@media (min-width: 1200px) {
  .project-description {
    background-position: 100% top;
    background-size: 42%;
  }
}*/


@media (min-width: 768px) {
    .portfolio-image {
        background-repeat: no-repeat;
        background-image: url('/images/eagle-carousel-placeholder.png');
    }
}

.portfolio-service {
    margin: 40px 0;
}

.portfolio-service-icon {
    margin-bottom: 27px;
}

.portfolio-service-heading {
    font-size: 24px;
    font-weight: 300;
    color: #4A4A4A;
    margin-bottom: 16px;
}

.portfolio-service-text {
    max-width: 292px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    color: #989898;
}
.project-more-info {
  background: url('/images/portfolio_bgd_amadeus.jpg') no-repeat;
  background-size: cover;
  background-position: center top;
  font-size: 1.5rem;
    color: #282828;
    /*padding: 0;*/
}

.project-more-info .top {
  padding: 4rem 3rem 34rem;
}

@media (min-width: 576px) {
  .project-more-info .top {
    padding: 3rem 3rem 26rem;
  }
}

@media (min-width: 768px) {
  .project-more-info .top {
    padding: 6rem 6rem 20rem;
  }
}

@media (min-width: 992px) {
  .project-more-info .top {
    padding: 10rem 10rem 20rem;
  }
}

.project-more-info h2 {
  font-size: 3.4rem;
  font-weight: 300;
  margin-bottom: 1.7rem;
}

.project-more-info p {

}

@media (min-width: 576px) {
  .project-more-info p {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .project-more-info p {
    margin-right: 30%;
  }
}

@media (min-width: 768px) {
  .project-more-info p {
    margin-right: 40%;
  }
}

.project-more-info .bottom {
  padding: 2rem 0 0 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.project-more-info .bottom .inner img {
  width: 100%;
}

.project-services {
  /*background-color: #1B1C25;*/
  /*margin-bottom: 0;*/
  padding: 6rem -15px;
}


.project-service {
  margin: 0 0 6rem;
}

.portfolio-testimonial {
  background-color: #896BC2;
  min-height: 620px;
  color: #fff;
  line-height: 4rem;
  font-size: 2.4rem;
  padding: 3rem 3rem;
}

@media (min-width: 768px) {
    .portfolio-testimonial {
        padding: 10rem 6rem;
        width: 100%;
        min-height: 420px;
    }
}

.portfolio-testimonial p {
text-align: center;
/*margin-left: 0%;*/
  margin: 0 auto;
  max-width: 75%;
}

/*@media (min-width: 576px) {
    .portfolio-testimonial p {
        max-width: 90%;
        text-align: center;
        margin-left: 20%;
    }
}*/

/*@media (min-width: 768px) {
    .portfolio-testimonial p {
        max-width: 50%;
        text-align: center;
        margin-left: 40%;
        max-width: 80%;
    }
}*/

/*@media (min-width: 992px) {
    .portfolio-testimonial p {
        max-width: 50%;
        text-align: center;
        margin-left: 40%;
        max-width: 75%;
    }
}*/

.portfolio-testimonial img {
margin: 2rem 0 0 0;
}

.portfolio-testimonial p.home-carousel-testimonial-author-title {
  font-size: 1.6rem;
  margin-top: 1rem;
}
