/**
 * Philips page
 */

/* jumbotron */

.ww-portfolio .jumbotron {

  background-image: linear-gradient(-134deg,  #5913BB 0%, #C330FB 100%);
  margin-bottom: 0;
  position: relative;
  padding-top: 8rem;
}
/*
@media (min-width: 1200px) {
    .ww-portfolio .jumbotron {
        padding-left: 20rem;
        padding-right: 20rem;
    }
}*/

@media (min-width: 992px) {
    .ww-push-logo {
      left: 8.33333333%;
    }
}

.jumbotron-logo-project {
    width: 178px;
    display: block;
    position: relative;
    padding-bottom: 2rem;
    margin: 0 auto;
}

@media (min-width: 992px) {
    .jumbotron-logo-project {
        margin: 0 auto;
        position: absolute;
        top:0;
        /*bottom:0;*/
        right: 0;
        left:0;
        padding: 0;
    }
}

.ww-hero-image {
  margin-bottom: -2rem;
}

@media (min-width: 576px){
.ww-hero-image {
  margin-bottom: -4.1rem;
}
}


.scroll-down-arrow {
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: url(/images/icon-arrow-bottom.svg);
    opacity: .2;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    display: none;
    position: absolute;
    margin: auto;
    left: 10%;
    bottom: 0;
    /*right: 0;*/
}

.scroll-down-arrow:hover {
    opacity: 1;
}

@media (min-width: 992px) {
    .scroll-down-arrow {
        display: block;
    }
}

@media (min-width: 1200px) {
      .scroll-down-arrow {
          /*left: 0;*/
      }
}

/* portfolio */

.portfolio {
    padding: 8rem 0 4rem 0;
}

@media (min-width: 768px) {
    .portfolio {
        padding: 8rem 0;
    }
}



.ww-paragraph {
  border-color: #5F97E9;
  margin-bottom: 6rem;
}

.ww-paragraph p {
  line-height: normal;
}

.project-description {
  min-height: 0;
  /*margin-bottom: 0;*/
}

/*.project-description p {
  margin-bottom: 6rem;
}*/

@media (min-width: 768px) {
    .project-description {
      padding: 0 6rem;
      min-height: 0;
      margin-bottom: 3rem;
    }
}

@media (min-width: 992px) {
  .project-description {
    background: url('../images/portfolio-description-eagle-bgd-2x.png') no-repeat;
    background-position: right 20rem;
    background-size: contain;
    min-height: 700px;

  }
}

@media (min-width: 1200px) {
  .project-description {
    min-height: 800px;
    background-position: right 10rem;

  }
}

@media (min-width: 1440px) {
  .project-description {
    min-height: 800px;
    background-position: right top;

  }
}

/*@media (min-width: 1200px) {
  .project-description {
    background-position: 100% top;
    background-size: 42%;
  }
}*/



@media (min-width: 768px) {
  .portfolio-paragraph {
    padding: 6rem 0 0 0;
  }
}

.portfolio-service {
    margin: 40px 0;
}

.portfolio-service-icon {
    margin-bottom: 27px;
}

.portfolio-service-heading {
    font-size: 24px;
    font-weight: 300;
    color: #4A4A4A;
    margin-bottom: 16px;
}

.portfolio-service-text {
    max-width: 325px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    color: #989898;
}

.project-services {
  padding: 0 3rem;
}

@media (min-width: 768px) {
  .project-services {
    padding: 0 6rem;
  }
}

.project-services h2 {
    font-size: 36px;
    color: #282828;
    font-weight: 300;
    margin-bottom: 2rem;
    text-align: center;
}

.project-services p {
  margin-bottom: 2rem;
}

.project-services .results-row {
  padding: 2rem 0 4rem;
}


.project-service {
  margin: 0 0 6rem;
}

@media (min-width: 1440px) {
  .portfolio-testimonial .ww-content {
    max-width: 64%;
    margin: 0 18% 0 18%;
  }
}

.portfolio-testimonial {
  background: none;
  background-color: #896BC2;
  min-height: 620px;
  color: #fff;
  line-height: 4rem;
  font-size: 2.4rem;
  padding: 3rem 3rem;
}

@media (min-width: 768px) {
    .portfolio-testimonial {
        padding: 10rem 6rem;
        width: 100%;
        min-height: 420px;
    }
}

.portfolio-testimonial p {
text-align: center;
/*margin-left: 0%;*/
  margin: 0 auto;
  max-width: 75%;
}

.portfolio-testimonial img {
margin: 2rem 0 0 0;
}

.portfolio-testimonial p.home-carousel-testimonial-author-title {
  font-size: 1.6rem;
  margin-top: 1rem;
}
