/**
 * Philips page
 */

/* jumbotron */

.ww-portfolio .jumbotron {
  background-image: linear-gradient(134deg, #DC34FF 0%, #1F4094 97%, #1E3C93 100%);
  margin-bottom: 0;
  position: relative;
  padding-top: 8rem;
}
/*
@media (min-width: 1200px) {
    .ww-portfolio .jumbotron {
        padding-left: 20rem;
        padding-right: 20rem;
    }
}*/

@media (min-width: 992px) {
    .ww-push-logo {
      left: 8.33333333%;
    }
}

.jumbotron-logo-project {
    width: 188px;
    display: block;
    position: relative;
    padding-bottom: 2rem;
    margin: 0 auto;
}

@media (min-width: 992px) {
    .jumbotron-logo-project {
        width: 198px;
        margin: 0 auto;
        position: absolute;
        top:0;
        /*bottom:0;*/
        right: 0;
        left:0;
        padding: 0;
    }
}

.ww-hero-image {
  margin-bottom: -2rem;
}

@media (min-width: 576px){
.ww-hero-image {
  margin-bottom: -4.1rem;
}
}


.scroll-down-arrow {
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: url(/images/icon-arrow-bottom.svg);
    opacity: .2;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    display: none;
    position: absolute;
    margin: auto;
    left: 10%;
    bottom: 0;
    /*right: 0;*/
}

.scroll-down-arrow:hover {
    opacity: 1;
}

@media (min-width: 992px) {
    .scroll-down-arrow {
        display: block;
    }
}

@media (min-width: 1200px) {
      .scroll-down-arrow {
          /*left: 0;*/
      }
}

@media (max-width: 575px) {
  .portfolio-header {
    margin: 3rem 0 3rem;
  }
}

/* portfolio */

.portfolio {
    padding: 8rem 0 4rem 0;
}

@media (min-width: 768px) {
    .portfolio {
        padding: 8rem 0;
    }
}



.ww-paragraph {
  border-color: #5F97E9;
  margin-bottom: 6rem;
}

.ww-paragraph p {
  line-height: normal;
}

.project-description {
  min-height: 0;
  padding-left: 3rem;
  padding-right: 3rem;
}

/*.project-description p {
  margin-bottom: 6rem;
}*/

@media (min-width: 576px) {
    .project-description {
      padding: 0 6rem;
      min-height: 0;
      margin-bottom: 3rem;
    }
}

@media (min-width: 992px) {
  .project-description {
    background: url('../images/portfolio-description-eagle-bgd-2x.jpg') no-repeat;
    background-position: right 23rem;
    background-size: contain;
    min-height: 700px;
    overflow: visible;
    padding: 0 10rem;
  }
}

@media (min-width: 1200px) {
  .project-description {
    min-height: 800px;
    background-position: right 12rem;

  }
}

@media (min-width: 1440px) {
  .project-description {
    min-height: 800px;
    background-position: right 3rem;

  }
}

/*@media (min-width: 1200px) {
  .project-description {
    background-position: 100% top;
    background-size: 42%;
  }
}*/



@media (min-width: 768px) {
  .portfolio-paragraph {
    padding: 3rem 0 0 0;
  }
}

.portfolio-service {
    margin: 40px 0;
}

.portfolio-service-icon {
    margin-bottom: 27px;
}

.portfolio-service-heading {
    font-size: 24px;
    font-weight: 300;
    color: #4A4A4A;
    max-width: 250px;
    margin: 0 auto;
    margin-bottom: 16px;
}

.portfolio-service-text {
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    color: #989898;
}

@media (min-width: 992px) {
  .portfolio-service-text {
    max-width: 250px;
  }
}

.project-services {
  padding: 3rem 3rem 0;
}

@media (min-width: 576px) {
  .project-services {
    padding: 0 6rem;
  }
}

@media (min-width: 992px) {
  .project-services {
    padding: 0 10rem;
  }
}

.project-services h2 {
    font-size: 36px;
    color: #282828;
    font-weight: 300;
    margin-bottom: 2rem;
    text-align: center;
}

.project-services p {
  margin-bottom: 2rem;
}

.project-services .results-row {
  padding: 2rem 0 4rem;
}


.project-service {
  margin: 0 0 6rem;
}

@media (min-width: 1440px) {
  .portfolio-testimonial .ww-content {
    max-width: 64%;
    margin: 0 18% 0 18%;
  }
}

.portfolio-testimonial {
  background: none;
  background-color: #896BC2;
  color: #fff;
  line-height: 4rem;
  font-size: 2.4rem;
  padding: 3rem 3rem;
}

@media (min-width: 768px) {
    .portfolio-testimonial {
        padding: 8rem 6rem;
        width: 100%;
    }
}

.portfolio-testimonial img {
  margin: 3rem auto 2rem;
  display: block;
  width: 70px;
  height: 70px;
}

@media (min-width: 576px) {
  .portfolio-testimonial img {
    margin: 8rem auto 0;
  }
}

.portfolio-testimonial p {
  text-align: center;
  /*margin-left: 0%;*/
    margin: 0 auto;
    max-width: 95%;
    font-size: 2rem;
    line-height: 3.5rem;
}

.portfolio-testimonial .home-carousel-testimonial-author-title {
    font-size: 2rem;
    margin-top: 2rem;
    line-height: normal;
}


@media (min-width: 576px) {
  .portfolio-testimonial p {
    max-width: 95%;
    font-size: 3rem;
    line-height: 5rem;
  }
}

@media (min-width: 768px) {
  .portfolio-testimonial p {
    max-width: 85%;
    font-size: 3rem;
    line-height: 5rem;
  }
}

@media (min-width: 992px) {
  .portfolio-testimonial p {
    max-width: 86%;
    font-size: 3rem;
    line-height: 5rem;
  }
}

.eagle-portfolio-services {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  padding-left: 0;
  padding-right: 0;
}

.eagle-portfolio-services .row > [class*='col-']:last-child {
  padding-top: 6rem;
}

@media (min-width: 576px) {
  .eagle-portfolio-services {
    padding-bottom: 6rem;
  }
}

@media (min-width: 768px){
  .eagle-portfolio-services .row > [class*='col-']:first-child {
    padding-right: 3rem;
  }

  .eagle-portfolio-services .row > [class*='col-']:last-child {
    padding-left: 3rem;
    padding-top: 0;
  }
}

.eagle-portfolio-services .project-service {
  background: #FFFFFF;
  box-shadow: 0 2px 15px 0 rgba(0,0,0,0.20);
  margin: 0 0 3rem;
  height: 100%;
}

.eagle-portfolio-services .project-service img {
  max-width: 100%;
  height: auto;
  margin-bottom: 27px;
}

.eagle-portfolio-services .portfolio-service-body {
  margin: 40px 0;
}

.eagle-portfolio-services .portfolio-service-heading {
    padding: 0 3rem 1.3rem;
    font-size: 1.8rem;
    color: #282828;
    font-weight: 700;
    margin-bottom: 0;
    max-width: unset;
}

.eagle-portfolio-services .portfolio-service-text {
    max-width: 100%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    color: #989898;
    padding: 0 3rem 3rem;
}
