/**
 * Home page
 */

h2.intro {
    opacity: 0;
    position: relative;
}

 h2.intro .line {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
 }

h2.intro .word {
    white-space: nowrap;
    position: relative;
    display: inline-block
}

 h2.intro .letter {
  display: inline-block;
  line-height: 1em;
}

.home-workwith {
    padding-top: 100px;
    padding-bottom: 100px;
}

.home-workwith-header-text {
    font-weight: 400;
    line-height: 36px;
    color: #7c7c7c;
}

.ww-panels>div {
    margin: 0 1rem 3rem;
}

@media (min-width:576px) {
    .ww-panels>div {
        margin: 0 0 3rem;
    }
}

@media (min-width:992px) {
    .ww-panels>div {
        margin: 0;
    }
}

.ww-panels .carousel {
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .15);
    z-index: 1;
    position: relative;
    height: 309px;
    max-height: 309px;
}

.ww-panels .carousel-indicators {
    bottom: 10px;
    display: none;
}

.ww-panels .carousel-indicators li {
    background-color: #e1e1e1;
    width: 1.5rem;
    height: 1.5rem;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    border-radius: 50%;
    margin-left: 1rem;
}

.ww-panels .carousel-indicators li.active {
    background-color: #fff;
    border: 1px solid #ed08d3;
}

.ww-panel-icon-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: none;
}

.ww-panel-icon-container.active {
    display: block;
}

.ww-panel-icon-container,
.ww-panels .carousel-inner{
    overflow: hidden !important;
    height: 309px !important;
    max-height: 309px !important;
}

.ww-panels .carousel-inner {
    display: none;
}

.ww-panels .carousel-inner.active {
    display: block;
}

.ww-panel-icon-container .ww-panel-icon {
    position: relative;
    display: none;
    width: 100%;
}

@media (-webkit-transform-3d) {
    .ww-panel-icon-container .ww-panel-icon {
        -webkit-transition: -webkit-transform .6s ease-in-out;
        transition: -webkit-transform .6s ease-in-out;
        -o-transition: -o-transform .6s ease-in-out;
        transition: transform .6s ease-in-out;
        transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out,-o-transform .6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px;
    }
}

.ww-panel-icon-container .ww-panel-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out,-o-transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.ww-panel-icon-container .ww-panel-icon {
    height: 309px !important;
    max-height: 309px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 40px 60px 0 60px;
    text-align: center;
}

.ww-panels .carousel-inner .ww-workwith {
    height: 238px !important;
    max-height: 238px !important;
    margin-top: 7rem;
}

.ww-panels .carousel-inner .ww-workwith .ww-workwith-img {
    height: 5.4rem;
    max-height: 5.4rem;
}

.ww-panels .carousel-inner .ww-workwith .ww-workwith-img > div {
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.ww-panels .carousel-inner .ww-workwith.animated {
    -webkit-animation-delay: 0.2s; /* Safari 4.0 - 8.0 */
    animation-delay: 0.2s;
}

.ww-panels .carousel-inner .ww-workwith.slowAnimated {
    -webkit-animation-delay: 1.2s; /* Safari 4.0 - 8.0 */
    animation-delay: 1.2s;
}

.ww-panels .carousel-inner .ww-workwith .ww-workwith-teaser {
    height: 8.2rem;
    max-height: 8.2rem;
}

.ww-panels .carousel-inner .ww-workwith .ww-workwith-teaser > div {
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

@media (min-width:992px) {
    .ww-panels .carousel-inner .ww-workwith .ww-workwith-img {
        height: 5.4rem;
        max-height: 5.4rem;
    }
    .ww-panels .carousel-inner .ww-workwith .ww-workwith-teaser {
        height: 9.3rem;
        max-height: 9.3rem;
    }
}

@media (min-width:1200px) {
    .ww-panels .carousel-inner .ww-workwith .ww-workwith-img {
        height: 5.6rem;
        max-height: 5.6rem;
    }
    .ww-panels .carousel-inner .ww-workwith .ww-workwith-teaser {
        height: 7.8rem;
        max-height: 7.8rem;
    }
}

.ww-btn {
    font-size: 1.6rem;
    line-height: 1.8rem;
    padding: 0.8rem 1.9rem;
    font-weight: 400;
    border-color: #4A90E2;
    color: #4A90E2;
}

.ww-btn:hover {
    background-color: #4A90E2;
    border-color: #4A90E2;
}

.ww-panels h3 {
    margin: 0 0 2rem;
    font-size: 2.4rem;
    font-weight: 400;
    color: #7c7c7c;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    top: 67%;
}

.ww-panels h3.active {
    font-size: 1.8rem;
    top: 10%
}

.ww-panels .ww-panel-icon-container .ww-panel-icon {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 0;
}

.ww-panels .ww-panel-icon-container .ww-panel-icon img {
    margin-top: -5rem;
}

.ww-panels p {
    font-size: 16px;
    font-size: 1.6rem;
    color: #7c7c7c;
    line-height: normal;
    margin: 1.5rem 3rem;
}

@media (min-width:992px) {
    .ww-panels p {
        margin: 1.5rem 3rem;
    }
}

@media (min-width:1200px) {
    .ww-panels p {
        margin: 1.5rem 3rem;
    }
}

/* workwith section */

.home-workwith-header-heading {
    font-size: 3.6rem;
    font-weight: 300;
    color: #4A4A4A;
}

.home-workwith-item {
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .15);
    height: 309px;
    max-height: 309px;
    text-align: center;
    margin-bottom: 3rem;
}

@media (min-width: 992px) {
    .home-workwith-item {
        margin-bottom: 0;
    }
}

.home-workwith-item-heading {
    font-size: 1.8rem;
    font-weight: 400;
    color: #7c7c7c;
    padding-top: 3rem;
    margin-bottom: 45px;
}

.home-workwith-item-logo-adobe {
    height: 50px;
}

.home-workwith-item-logo-minim {
    height: 42px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.home-workwith-item-logo-scribe {
    height: 27px;
    margin-top: 11.5px;
    margin-bottom: 11.5px;
}

.home-workwith-item-teaser {
    font-size: 1.6rem;
    color: #7c7c7c;
    line-height: normal;
    margin: 1.5rem 3rem;
}

.home-workwith-item-button {
    font-size: 1.6rem;
    line-height: 1.8rem;
    padding: 0.8rem 1.9rem;
    font-weight: 400;
    border-color: #4A90E2;
    color: #4A90E2;
}

.home-workwith-item-button:hover {
    background-color: #4A90E2;
    border-color: #4A90E2;
}

.home-portfolio-carousel .btn {
    line-height: inherit;
    font-size: inherit;
}

.ww-project-icon {
    max-height: 90%;
    max-width: 75%;
    margin-top: 1.4rem;
}

.ww-project-icon.minim {
    max-height: 75%;
    max-width: 70%;
    margin-top: 1.4rem;
}

/* testimonial carousel */

#home-carousel-testimonial,
.home-carousel-testimonial-item {
    height: 850px;
}

@media (min-width: 375px) {
    #home-carousel-testimonial,
    .home-carousel-testimonial-item {
        height: 800px;
    }
}

@media (min-width: 768px) {
    #home-carousel-testimonial,
    .home-carousel-testimonial-item {
        height: 800px;
    }
}

@media (min-width: 992px) {
    #home-carousel-testimonial,
    .home-carousel-testimonial-item {
        height: 850px;
    }
}

@media (min-width: 1200px) {
    #home-carousel-testimonial,
    .home-carousel-testimonial-item {
        height: 800px;
    }
}

.home-carousel-testimonial-item-one { background-color: #139CE4; }
.home-carousel-testimonial-item-two { background-color: #896BC2; }
.home-carousel-testimonial-item-three { background-color: #0CC1D3; }
.home-carousel-testimonial-item-four { background-color: #F01928; }

.home-carousel-testimonial-caption {
    bottom: auto;
    top: 3rem;
    width: 85%;
    right: 0;
    left: 0;
    margin: 0 auto 6rem;
}

.home-carousel-testimonial-heading {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 5px;
    color: #282828;
}

.home-carousel-testimonial-logo-scribe {
    height: 29px;
    margin: 50px 0;
}

.home-carousel-testimonial-item-two .home-carousel-testimonial-logo {
    width: 145px;
    margin: 24px 0 2rem;
}

.home-carousel-testimonial-item-three .home-carousel-testimonial-logo {
    height: 45px;
    margin: 44px 0;
}

.home-carousel-testimonial-item-four .home-carousel-testimonial-logo {
    height: 60px;
    margin: 36px 0;
}

.home-carousel-testimonial-text {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
}

@media (min-width: 576px) {
  .home-carousel-testimonial-text {
    font-size: 2.4rem;
    line-height: 4rem;
  }
}

@media (min-width: 768px) {
  .home-carousel-testimonial-text {
    margin-top: 4rem;
  }
}

@media (min-width: 992px) {
  .home-carousel-testimonial-text {
    font-size: 3rem;
    line-height: 5rem;
    margin-top: 2rem;
  }
}

@media (min-width: 1200px) {
  .home-carousel-testimonial-text {
    max-width: 925px;
    margin: 0 auto;
  }
}

.home-carousel-testimonial-author {
    width: 70px;
    height: 70px;
    margin: 2rem 0 2rem 0;
}

@media (min-width: 1200px) {

.home-carousel-testimonial-author {
    width: 70px;
    height: 70px;
    margin: 6rem 0 2rem 0;
}
}
.home-carousel-testimonial-author-title {
    font-size: 1.6rem;
    line-height: 2.4rem;
}

@media (min-width: 576px) {
.home-carousel-testimonial-author-title {
    font-size: 20px;
}
}

.home-carousel-testimonial-indicators {
    bottom: 51px;
}

li.home-carousel-testimonial-indicator {
    max-width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.2);
    margin-left: 6.5px;
    margin-right: 6.5px;
}
