/**
 * Home page
 */

 /* navigation */

/*.page-navigation-link {
    color: #FFF;
}

.page-navigation-link:hover {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #ED08D3;
}*/


/* header carousel */

/*.home-carousel-header {
    height: 760px;
    position: relative;
    height: 100vh;
}*/

/*.home-carousel-header-logo {
    position: absolute;
    z-index: 1;
    width: 88px;
    top: 225px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: all 1s;
}*/

/*.home-carousel-header-logo-animate {
    width: 27px;
    top: 38px;
    left: 61px;
    transform: translate(0, 0);
}

.home-carousel-header-inner {
    height: 100%;
    /*min-height:95vh;
}*/

/*.home-carousel-header-item {
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

/*.home-carousel-header-item1 { background-image: url(../images/carousel-home/slide1.jpg); }

.home-carousel-header-caption {
    bottom: auto;
    top: 381px;
}*/

/*.home-carousel-header-text {
    font-size: 34px;
    font-weight: 300;
    color: #FFF;
    line-height: 64px;
    width: 48%;
    margin: 0 auto;
}*/

/*.home-carousel-header-arrow {
    cursor: pointer;
    position: absolute;
    bottom: 86px;
    left: 50%;
    transform: translate(-50%, 0);
    animation: bounce 2s infinite;
}*/


/* workwith section */

.home-workwith-header-heading {
    font-size: 3.6rem;
    font-weight: 300;
    color: #4A4A4A;
}

/*.home-workwith-header-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    color: #737373;
    width: 70%;
    margin: 2rem auto;
}*/

/*.home-workwith-item {
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.10);
    margin-bottom: 78px;
}*/

/*.home-workwith-item-icon {
    height: 198px;
}*/

/*.home-workwith-item-heading {
    font-size: 24px;
    font-weight: 400;
    color: #404F60;
}*/

/*.home-workwith-item-text {
    font-size: 16px;
    font-weight: 300;
    color: #737373;
    line-height: 24px;
    margin: 18px 40px;
    text-align: center;
}*/

/*.home-workwith-item-arrow {
    cursor: pointer;
}*/


/* testimonial carousel */

.home-carousel-testimonial-item {
    height: 700px;
}

@media (min-width: 576px) {
    .home-carousel-testimonial-item {
        height: 800px;
    }
}

@media (min-width: 768px) {
    .home-carousel-testimonial-item {
        height: 750px;
    }
}

@media (min-width: 992px) {
    .home-carousel-testimonial-item {
        height: 800px;
    }
}

@media (min-width: 1200px) {
    .home-carousel-testimonial-item {
        height: 800px;
    }
}

.home-carousel-testimonial-item-one { background-color: #139CE4; }
.home-carousel-testimonial-item-two { background-color: #896BC2; }
.home-carousel-testimonial-item-three { background-color: #0CC1D3; }

.home-carousel-testimonial-caption {
    bottom: auto;
    top: 3rem;
    width: 85%;
    right: 0;
    left: 0;
    margin: 0 auto 6rem;
}

.home-carousel-testimonial-heading {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 5px;
    color: #282828;
}

.home-carousel-testimonial-logo-scribe {
    height: 29px;
    margin: 50px 0;
}

.home-carousel-testimonial-item-two .home-carousel-testimonial-logo {
    width: 145px;
    margin: 24px 0 2rem;
}

.home-carousel-testimonial-item-three .home-carousel-testimonial-logo {
    height: 45px;
    margin: 44px 0;
}

.home-carousel-testimonial-text {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
}

@media (min-width: 576px) {
  .home-carousel-testimonial-text {
    font-size: 2.4rem;
    line-height: 4rem;
  }
}

@media (min-width: 768px) {
  .home-carousel-testimonial-text {
    margin-top: 4rem;
  }
}

@media (min-width: 992px) {
  .home-carousel-testimonial-text {
    font-size: 3rem;
    line-height: 5rem;
    margin-top: 2rem;
  }
}

@media (min-width: 1200px) {
  .home-carousel-testimonial-text {
    max-width: 870px;
    margin: 0 auto;
  }
}
/*@media (min-width: 1200px) {

.home-carousel-testimonial-item-two .home-carousel-testimonial-text {
    max-width: 96%;
  }
}*/

.home-carousel-testimonial-author {
    width: 70px;
    height: 70px;
    margin: 2rem 0 2rem 0;
}

@media (min-width: 1200px) {

.home-carousel-testimonial-author {
    width: 70px;
    height: 70px;
    margin: 6rem 0 2rem 0;
}
}
.home-carousel-testimonial-author-title {
    font-size: 1.6rem;
    line-height: 44px;
}

@media (min-width: 576px) {
.home-carousel-testimonial-author-title {
    font-size: 20px;
}
}

.home-carousel-testimonial-indicators {
    bottom: 51px;
}

li.home-carousel-testimonial-indicator {
    max-width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.2);
    margin-left: 6.5px;
    margin-right: 6.5px;
}

/*.home-carousel-testimonial-indicator.active {
    background-color: #fff;
}*/
/*
.carousel-fade .carousel-inner .carousel-item {
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}

.carousel-inner .carousel-item,
.carousel-inner .active.carousel-item-left,
.carousel-inner .active.carousel-item-right
{
    opacity:0;
}

.carousel-inner .active,
.carousel-inner .carousel-item-next.carousel-item-left,
.carousel-inner .carousel-item-previous.carousel-item-right
{
    opacity: 1;
}

.carousel-item.active,
.active.carousel-item-left,
.active.carousel-item-prev,
.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right
{
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}*/
