/**
 * Header
 */

.home-proximity-lab-logo {
    width: 250px;
}

.home-navbar-link {
    font-size: 22px;
    font-family: 'PT Sans', sans-serif;
    line-height: 2.7;
}

.home-navbar-link:link {
    color: rgb(0, 0, 0);
}


/**
 * Main heading
 */

.home-main-heading {
    font-size: 75px;
    font-family: 'aleoregular';
    color: rgb(0, 0, 0);
    margin: 29px 0 25.5px;
}

@media (min-width: 576px) {
    .home-main-heading {
        margin: 58px 0 51px;
    }
}

@media (min-width: 768px) {
    .home-main-heading {
        margin: 87px 0 76.5px;
    }
}

@media (min-width: 992px) {
    .home-main-heading {
        margin: 116px 0 102px;
    }
}

@media (min-width: 1200px) {
    .home-main-heading {
        margin: 145px 0 127.5px;
    }
}


/**
 * Services
 */

.home-icon-service {
    height: 92.25px;
}

.home-service-heading {
    font-size: 29px;
    font-family: 'aleobold';
    color: rgb(0, 0, 0);
    margin-top: 39.5px;
}

.home-service-link {
    font-size: 20px;
    font-family: 'aleobold';
    line-height: 2.6;
}

.home-service-link:link {
    color: rgb(220, 67, 150);
}


/**
 * Minim
 */

.home-minim-mobile-app-mockup {
    width: 370px;
}

.home-minim-video {
    position: absolute;
    top: 104px;
    left: 0;
    right: 0;
}

.home-minim-hover-overlay {
    width: 240px;
    height: 430px;
    position: absolute;
    top: 104px;
    left: 0;
    right: 0;
}

.home-minim-hover-overlay:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.home-minim-hover-overlay:hover .home-minim-play-wrapper {
    visibility: visible;
}

.home-minim-play-wrapper {
    visibility: hidden;
    width: 130px;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 50%;
}

.home-minim-play-icon {
    width: 65px;
    margin-left: 40px;
}

.home-minim-heading-primary {
    font-size: 50px;
    font-family: 'aleobold';
    color: rgb(0, 0, 0);
}

.home-minim-heading-secondary {
    font-size: 29px;
    font-family: 'aleoregular';
    color: rgb(0, 0, 0);
    line-height: 1.5;
}

.home-minim-link {
    font-size: 20px;
    font-family: 'aleobold';
}

.home-minim-link:link {
    color: rgb(220, 67, 150);
}


/**
 * Oracle
 */

.home-oracle-image {
    width: 370px;
    margin: auto;
}

@media (min-width: 576px) {
    .home-oracle-image {
        width: 546px;
    }
}

@media (min-width: 768px) {
    .home-oracle-image {
        width: 738px;
    }
}

@media (min-width: 992px) {
    .home-oracle-image {
        width: 548px;
        margin-left: -59px;
    }
}

@media (min-width: 1200px) {
    .home-oracle-image {
        width: 770px;
        margin-left: -76px;
    }
}

.home-oracle-hover-overlay {
    width: 313px;
    height: 175px;
    position: absolute;
    top: 28px;
    left: 0;
    right: 0;
    margin: auto;
}

.home-oracle-hover-overlay:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.home-oracle-hover-overlay:hover .home-oracle-play-wrapper {
    visibility: visible;
}

.home-oracle-play-wrapper {
    visibility: hidden;
    width: 130px;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 50%;
}

.home-oracle-play-icon {
    width: 65px;
    margin-left: 40px;
}

@media (min-width: 576px) {
    .home-oracle-hover-overlay {
        width: 461px;
        height: 260px;
        top: 41px;
    }
}

@media (min-width: 768px) {
    .home-oracle-hover-overlay {
        width: 623px;
        height: 351px;
        top: 55px;
    }
}

@media (min-width: 992px) {
    .home-oracle-hover-overlay {
        width: 462px;
        height: 261px;
        top: 41px;
        margin: 0;
    }
}

@media (min-width: 1200px) {
    .home-oracle-hover-overlay {
        width: 650px;
        height: 366px;
        top: 58px;
    }
}

.home-oracle-heading-primary {
    font-size: 50px;
    font-family: 'aleobold';
    color: rgb(0, 0, 0);
}

.home-oracle-heading-secondary {
    font-size: 29px;
    font-family: 'aleoregular';
    color: rgb(0, 0, 0);
    line-height: 1.5;
}  

.home-oracle-link {
    font-size: 20px;
    font-family: 'aleobold';
}

.home-oracle-link:link {
    color: rgb(220, 67, 150);
}


/**
 * Eagle
 */

@media (min-width: 992px) {
    .home-eagle-image-wrapper {
        overflow-x: hidden;
    }

    .home-eagle-image {
        float: right;
        margin-right: -85px;
    }
}

@media (min-width: 1200px) {
    .home-eagle-image {
        margin-right: -100px;
    }
}

.home-eagle-heading-primary {
    font-size: 50px;
    font-family: 'aleobold';
    color: rgb(0, 0, 0);
}

.home-eagle-heading-secondary {
    font-size: 29px;
    font-family: 'aleoregular';
    color: rgb(0, 0, 0);
    line-height: 1.5;
}

.home-eagle-link {
    font-size: 20px;
    font-family: 'aleobold';
}

.home-eagle-link:link {
    color: rgb(220, 67, 150);
}


/**
 * Amadeus
 */

@media (min-width: 992px) {
    .home-amadeus-image {
        margin-left: -116px;
    }
}

@media (min-width: 1200px) {
    .home-amadeus-image {
        margin-left: -155px;
    }
}

.home-amadeus-heading-primary {
    font-size: 50px;
    font-family: 'aleobold';
    color: rgb(0, 0, 0);
}

.home-amadeus-heading-secondary {
    font-size: 29px;
    font-family: 'aleoregular';
    color: rgb(0, 0, 0);
    line-height: 1.5;
}  

.home-amadeus-link {
    font-size: 20px;
    font-family: 'aleobold';
}

.home-amadeus-link:link {
    color: rgb(220, 67, 150);
}
