/**
 * Header
 */

.home-proximity-lab-logo {
    width: 250px;
}

.home-navbar-link {
    font-size: 22px;
    font-family: 'PT Sans', sans-serif;
    line-height: 2.7;
}

.home-navbar-link:link {
    color: rgb(0, 0, 0);
}


/**
 * Main heading
 */

.home-main-heading {
    font-size: 75px;
    font-family: 'aleoregular';
    color: rgb(0, 0, 0);
    margin: 29px 0 25.5px;
}

@media (min-width: 576px) {
    .home-main-heading {
        margin: 58px 0 51px;
    }
}

@media (min-width: 768px) {
    .home-main-heading {
        margin: 87px 0 76.5px;
    }
}

@media (min-width: 992px) {
    .home-main-heading {
        margin: 116px 0 102px;
    }
}

@media (min-width: 1200px) {
    .home-main-heading {
        margin: 145px 0 127.5px;
    }
}


/**
 * Services
 */

.home-icon-service {
    height: 92.25px;
}

.home-service-heading {
    font-size: 29px;
    font-family: 'aleobold';
    color: rgb(0, 0, 0);
    margin-top: 39.5px;
}

.home-service-link {
    font-size: 20px;
    font-family: 'aleobold';
    line-height: 2.6;
}

.home-service-link:link {
    color: rgb(220, 67, 150);
}


/**
 * Minim
 */

.home-minim-mobile-app-mockup {
    width: 370px;
}

.home-minim-video {
    position: absolute;
    top: 104px;
    left: 0;
    right: 0;
}

.home-minim-hover-overlay {
    width: 240px;
    height: 430px;
    position: absolute;
    top: 104px;
    left: 0;
    right: 0;
}

.home-minim-hover-overlay:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.home-minim-hover-overlay:hover .home-minim-play-wrapper {
    visibility: visible;
}

.home-minim-play-wrapper {
    visibility: hidden;
    width: 130px;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 50%;
}

.home-minim-play-icon {
    width: 65px;
    margin-left: 40px;
}

.home-minim-heading-primary {
    font-size: 50px;
    font-family: 'aleobold';
    color: rgb(0, 0, 0);
}

.home-minim-heading-secondary {
    font-size: 29px;
    font-family: 'aleoregular';
    color: rgb(0, 0, 0);
    line-height: 1.5;
}

.home-minin-link {
    font-size: 20px;
    font-family: 'aleobold';
}

.home-minin-link:link {
    color: rgb(220, 67, 150);
}
