/**
 * Icovia page
 */

/* jumbotron */

.ww-portfolio .jumbotron {
  background-image: linear-gradient(44deg, #FFBB00 0%, #D06B02 100%);
  margin-bottom: 0;
  position: relative;
  padding-top: 8rem;
}

/*.jumbotron .flex-first img {
    margin: 0 0 -2.1rem 0;
}*/

/*@media (min-width: 576px) {
    .jumbotron .flex-first img {
        margin: 0 0 -4rem 0;
    }
}*/

@media (min-width: 1200px) {
    .jumbotron {
        padding-left: 92px;
        padding-right: 92px;
    }
}

@media (min-width: 1200px) {
    .jumbotron-padding {
        padding-left: 33px;
        padding-right: 33px;
    }
}

/*.jumbotron-logo-project {
    width: 179px;
    height: 53px;
    left: 3rem;
    margin-bottom: 2rem;
}*/

.jumbotron-logo-project {
    width: 179px;
    height: 53px;
    /*padding-bottom: 2rem;*/
    /*margin: auto;*/
    display: block;
    position: relative;
}

@media (min-width: 992px) {
    .jumbotron-logo-project {
      margin: auto 0;
      position: absolute;
      top:0;
      bottom:0;
      right: 0;
      padding: 0;
    }
}

.scroll-down-arrow {
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: url(/images/icon-arrow-bottom.svg);
    opacity: .2;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    display: none;
    position: absolute;
    margin: auto;
    left: 100%;
    bottom: 0;
    right: 0;
}

.scroll-down-arrow:hover {
    opacity: 1;
}

@media (min-width: 992px) {
    .scroll-down-arrow {
        display: block;
        left: 25%;
    }
}

@media (min-width: 1200px) {
      .scroll-down-arrow {
          display: block;
      }
}

@media (min-width: 1440px) {
      .scroll-down-arrow {
          left: 50%;
      }
}

/* portfolio */

.portfolio {
    padding: 0 0 3.4rem 0;
}

@media (min-width: 768px) {
    .portfolio {
        padding: 3rem 0 6rem 0;
    }
}

.ww-paragraph {
  border-color: #5F97E9;
  margin: 6rem 0 6rem 2rem;
}

@media (min-width: 992px) {
  .ww-paragraph {
    margin: 4rem 0 4rem 2rem;
  }
}

@media (min-width: 1200px) {
  .ww-paragraph {
    margin: 6rem 0 6rem 2rem;
  }
}

.ww-paragraph p {
  line-height: normal;
  margin-bottom: 3rem;
}

@media (min-width: 1200px) {
  .ww-paragraph p {
    line-height: normal;
    margin-bottom: 6rem;
  }
}

.project-description {
  min-height: 0;
  margin-bottom: 0;
}

#last-paragraph {
  padding: 0 3rem 3rem;
}

@media (min-width: 576px) {
    .project-description {
      /*background: url('/images/portfolio-description-icovia-bgd-2x.png') no-repeat;
      background-position: 100% top;
      background-size: 50%;*/
      padding: 0 6rem;
      margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    .project-description {
      /*background: url('/images/portfolio-description-icovia-bgd-2x.png') no-repeat;
      background-position: 100% top;
      background-size: 50%;*/
      padding: 0 6rem;
    }
}

@media (min-width: 992px) {
  .project-description {
    background: url('/images/portfolio-description-icovia-bgd-2x.png') no-repeat;
    background-position: 100% top;
    background-size: 50%;
    padding: 6rem 6rem 0 6rem;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .project-description {
    background-position: right 75px;
    background-size: 42%;
  }
}

@media (min-width: 1440px) {
  .project-description {
    background-position: 100% top;
    background-size: contain;
  }
}


.portfolio-service {
    margin: 40px 0;
}

.portfolio-service-icon {
    margin-bottom: 27px;
}

.portfolio-service-heading {
    font-size: 24px;
    font-weight: 300;
    color: #4A4A4A;
    margin-bottom: 16px;
}

.portfolio-service-text {
    max-width: 292px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    color: #989898;
}
.project-more-info {
  background: url('/images/portfolio_bgd_amadeus.jpg') no-repeat;
  background-size: cover;
  background-position: center top;
  font-size: 1.5rem;
    color: #282828;
    /*padding: 0;*/
}

.project-more-info .top {
  padding: 4rem 3rem 34rem;
}

@media (min-width: 576px) {
  .project-more-info .top {
    padding: 3rem 3rem 26rem;
  }
}

@media (min-width: 768px) {
  .project-more-info .top {
    padding: 6rem 6rem 20rem;
  }
}

@media (min-width: 992px) {
  .project-more-info .top {
    padding: 10rem 10rem 20rem;
  }
}

.project-more-info h2 {
  font-size: 3.4rem;
  font-weight: 300;
  margin-bottom: 1.7rem;
}

.project-more-info p {

}

@media (min-width: 576px) {
  .project-more-info p {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .project-more-info p {
    margin-right: 30%;
  }
}

@media (min-width: 768px) {
  .project-more-info p {
    margin-right: 40%;
  }
}

.project-more-info .bottom {
  padding: 2rem 0 0 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.project-more-info .bottom .inner img {
  width: 100%;
}

.project-services {
  /*background-color: #1B1C25;*/
  /*margin-bottom: 0;*/
  padding: 6rem -15px;
}


.project-service {
  margin:4rem 0;
}
