/**
 * Global styles
 */

body {
  font-family: 'Assistant', sans-serif;
}


/**
 * Navigation
 */

.page-navigation {
  position: absolute;
  top: 38px;
  right: 61px;
  z-index: 1;
  font-size: 18px;
}

.page-navigation-link:last-child {
  margin-left: 36px;
}


/**
 * Page footer
 */

 .page-footer {
  background-color: #1B1C25;
  padding-top: 100px;
  padding-bottom: 40px;
  position: relative;
}

@media (min-width: 992px) {
  .page-footer {
    padding-left: 110px;
  }
}

.page-footer-logo {
  width: 27px;
  position: absolute;
  top: 40px;
  left: 45px;
}

.page-footer-heading {
  line-height: 60px;
  font-size: 48px;
  font-weight: 200;
  color: #FFFFFF;
}

.page-footer-button {
  display: block;
  width: 100%;
  max-width: 300px;
  text-align: center;
  background: #C624AE;
  border-radius: 4px;
  font-weight: 300;
  font-size: 29px;
  color: #FFFFFF;
  padding: 8px 0;
  margin: 0 auto;
}

.page-footer-button:link {
  text-decoration: none;
}

.page-footer-links-container {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}

.page-footer-item {
  display: inline;
  margin-right: 22px;
}

.page-footer-link {
  color: #FFB1FE;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.page-footer-link:hover {
  color: #FFB1FE;
}

.page-footer-credits {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #9B9B9B;
}

.page-footer-separator {
  margin: 0 15px;
  color: #979797;
  opacity: 0.3;
}
