.clearfix:after, .clearfix:before {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
html {
    font-size: 62.5%}
@media (min-width:576px) {
    html {
    font-size: 62.5%}
}@media (min-width:768px) {
    html {
    font-size: 62.5%}
}@media (min-width:992px) {
    html {
    font-size: 62.5%}
}@media (min-width:1200px) {
    html {
    font-size: 62.5%}
}body {
    font-family: Assistant, sans-serif;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.625rem;
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
    -webkit-font-kerning: normal;
    font-kerning: normal;
    color: #7c7c7c;
    line-height: 3.6rem;
}
a[name=start] {
    padding-top: 5rem;
    text-decoration: none;
    color: #1e2128;
}
.container-fluid {
    padding-right: 3rem;
    padding-left: 3rem;
}
.home header {
    background-color: #1e2128;
    color: #fff;
    text-align: center;
    padding: 6rem 0 5rem;
}
.home-carousel-header-arrow {
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: url(/images/icon-arrow-bottom.svg);
    opacity: .2;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    display: block;
    margin: 3rem auto 0;
    position: absolute;
    bottom: 0;
    left: 30%;
    right: 50%
}

/*.portfolio .home-carousel-header-arrow {
    margin: 3rem auto 2rem;
}*/

.home .home-carousel-header-arrow {
    position: relative;
    left: 0;
    right: 0;
}

.home-carousel-header-arrow:hover {
    opacity: 1;
}

.home header h1 {
    width: 89px;
    height: 182px;
    text-indent: -9999px;
    display: block;
    background: url(/images/logo_animated_darkgray.gif) no-repeat;
    background-size: contain;
    position: relative !important;
    z-index: 1 !important;
    margin: 0 auto;
}
.home header h2 {
    font-size: 24px;
    font-size: 2.4rem;
    margin: 4rem 0 10rem;
    line-height: 5rem;
    z-index: 99999!important;
    font-weight: 300;
}
@media (min-width:768px) {
    .home header h2 {
    font-size: 36px;
    font-size: 3.6rem;
    margin: 8rem 0 20rem;
}
}.home-workwith {
    padding-top: 100px;
    padding-bottom: 100px;
}
.home-workwith-header-text {
    font-weight: 400;
    line-height: 36px;
    color: #7c7c7c;
}
.ww-panels>div {
    margin: 0 1rem 3rem;
}
@media (min-width:576px) {
    .ww-panels>div {
    margin: 0 0 3rem;
}
}@media (min-width:992px) {
    .ww-panels>div {
    margin: 0;
}
}.ww-panels .carousel {
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .15);
    z-index: 1;
    position: relative;
    min-height: 330px;
}
.ww-panels .carousel-indicators {
    bottom: 15px;
    display: none;
}
.ww-panels .carousel-indicators li {
    background-color: #e1e1e1;
    width: 1.5rem;
    height: 1.5rem;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    border-radius: 50%;
    margin-left: 1rem;
}
.ww-panels .carousel-indicators li:first-child {
    display: none;
    margin-left: 0;
}
.ww-panels .carousel-indicators li.active {
    background-color: #fff;
    border: 1px solid #ed08d3;
}
.ww-panels .carousel-item {
    height: 330px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 40px 60px 0 60px;
    text-align: center;
}
.ww-btn {
    border-radius: 2px;
    border: 1px solid #4a90e2;
    background-color: #fff;
    color: #4a90e2;
    padding: 1.2rem 1.5rem;
    font-size: 16px;
    font-size: 1.6rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 40%;
    text-align: center;
    top: 70%;
    z-index: 1;
}
.ww-btn:hover {
    text-decoration: none;
    background-color: #4a90e2;
    color: #fff;
}
.ww-panels h3 {
    margin: 0 0 2rem;
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: 400;
    color: #7c7c7c;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    top: 70%}
.ww-panels .carousel-item.ww-panel-icon {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: -2rem;
}
.ww-panels p {
    font-size: 16px;
    font-size: 1.6rem;
    color: #7c7c7c;
    line-height: normal;
    margin: 1.5rem 0;
}
#home-carousel-testimonial .carousel-inner .carousel-item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
#home-carousel-testimonial .carousel-inner .active.left, #home-carousel-testimonial .carousel-inner .active.right, #home-carousel-testimonial .carousel-inner .carousel-item {
    opacity: 0;
}
#home-carousel-testimonial .carousel-inner .active, #home-carousel-testimonial .carousel-inner .next.left, #home-carousel-testimonial .carousel-inner .prev.right {
    opacity: 1;
}
#home-carousel-testimonial .carousel-inner .active.left, #home-carousel-testimonial .carousel-inner .active.right, #home-carousel-testimonial .carousel-inner .next, #home-carousel-testimonial .carousel-inner .prev {
    left: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
#home-carousel-testimonial .carousel-control {
    z-index: 9!important;
}
.site-title-r {
    text-indent: -9999px;
    display: block;
    background: url(/images/logo-proximity-lab-pink-2.svg) no-repeat;
    background-size: cover;
    width: 27px;
    height: 38px;
    text-align: left;
    display: inline-block;
}

.site-title-r.pinkey {
    background: url(/images/logo-proximity-lab-pink-2.svg) no-repeat;
}

/* header - standard
--------------------------------------------------- */

.ww-underlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(30,33,40,0.0);
    z-index: -1;

	-webkit-transition: margin .5s ease-out;
  	     -o-transition: margin .5s ease-out;
    	    transition: margin .5s ease-out;
}

.ww-underlay.scrolled {

	background: rgba(30,33,40,0.9);

}

.headerScrolledDown .ww-underlay.scrolled {

	-webkit-transition: margin .3s ease-out .2s, background .1s ease-out .4s;
  	     -o-transition: margin .3s ease-out .2s, background .1s ease-out .4s;
    	    transition: margin .3s ease-out .2s, background .1s ease-out .4s;

}

.headerScrolledDown .ww-underlay.scrolled {

}

/* header - chevrons */

.jumbotron-left, .jumbotron-right {
	margin: -5px 0;
    text-indent: -9999px;
    width: 2.3rem;
    height: 2.3rem;
    display: none;
    opacity: .3;
}
.ww-portfolio .jumbotron-left, .ww-portfolio .jumbotron-right {
    display: block;
}

.page-navigation .jumbotron-left { background: url(/images/nav-prev-white.svg) no-repeat; }
.page-navigation.scrolled .jumbotron-left { background: url(/images/nav-prev.svg) no-repeat; }

.page-navigation .jumbotron-right { background: url(/images/nav-next-white.svg) no-repeat; }
.page-navigation.scrolled .jumbotron-right { background: url(/images/nav-next.svg) no-repeat; }

.jumbotron-left:hover, .jumbotron-right:hover {
    opacity: 1;
    border-bottom: none!important;
}

/* header - standard nav links */

.primary-nav-holder {
    position: fixed;
    width: 100%;
    z-index: 2;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    top: 0;
}
.page-navigation {
    padding: 20px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

	-webkit-transition: margin .5s ease-out .1s;
  	     -o-transition: margin .5s ease-out .1s;
    	    transition: margin .5s ease-out .1s;
}
.page-navigation ul {
    margin-bottom: 0;
}
.page-navigation li {
    display: inline-block;
}
.page-navigation li a {
    color: #1e2128;
    margin-left: 30px;
}
.page-navigation li a:hover {
    text-decoration: none;
}

.page-navigation li a.page-navigation-link { color: white !important; opacity: 0.6; }

.headerScrolledDown .page-navigation li a.page-navigation-link {

	-webkit-transition: all 0s ease-out 0s;
  	     -o-transition: all 0s ease-out 0s;
    	    transition: all 0s ease-out 0s;

}

.headerScrolledUp .page-navigation li a.page-navigation-link {

	-webkit-transition: all .5s ease-out .5s;
  	     -o-transition: all .5s ease-out .5s;
    	    transition: all .5s ease-out .5s;

}

.headerScrolledUp .page-navigation.scrolled li a.page-navigation-link {

	-webkit-transition: all 0s ease-out 0s;
  	     -o-transition: all 0s ease-out 0s;
    	    transition: all 0s ease-out 0s;

}

.page-navigation li a.page-navigation-link:hover {
	color: white !important;
    text-decoration: none;
    border-bottom: 1px #fff solid;
}

.page-navigation li a.page-navigation-link-active {
	color: #fff !important;
    border-bottom: 1px solid #cf0c7d;
    opacity: 1.0 !important;
}
.page-navigation li a.page-navigation-link-active:hover {
	color: #d11481 !important;
    text-decoration: none;
    border-bottom: 1px solid #cf0c7d;
}

/* header - standard nav links – scrolled */

.page-navigation.scrolled li a.page-navigation-link { color: #1e2128 !important; }

.page-navigation.scrolled li a.page-navigation-link:hover {
	color: #d11481 !important;
    text-decoration: none;
    border-bottom: 1px #1e2128 solid;
}

.page-navigation.scrolled li a.page-navigation-link-active {
	color: #d11481 !important;
    border-bottom: 1px solid #cf0c7d;
    opacity: 1.0 !important;
}
.page-navigation.scrolled li a.page-navigation-link-active:hover {
	color: #d11481 !important;
    text-decoration: none;
    border-bottom: 1px solid #cf0c7d;
}

/* header - standard states – scrolled Up */

.headerScrolledUp .page-navigation { transform: translateY(0px); }

.headerScrolledUp .ww-underlay { background: rgba(255,255,255,0.9); }

/* header - standard states – scrolled Down */

.headerScrolledDown .page-navigation.scrolled { margin-top: -78px; }

.headerScrolledDown .ww-underlay { background: rgba(30,33,40,0.0); }




/* header - work
--------------------------------------------------- */

.ww-work .ww-underlay { background: rgba(30,33,40,0.0); }

.ww-work .ww-underlay.scrolled { background: rgba(30,33,40,0.9); }


/* header - work nav links */

.ww-work .page-navigation li a.page-navigation-link { color: #1e2128 !important; }

.ww-work .page-navigation li a.page-navigation-link:hover {
	color: #1e2128 !important;
    text-decoration: none;
    border-bottom: 1px #1e2128 solid;
}

.ww-work .page-navigation li a.page-navigation-link-active {
	color: #d11481 !important;
    border-bottom: 1px solid #cf0c7d;
    opacity: 1.0 !important;
}
.ww-work .page-navigation li a.page-navigation-link-active:hover {
	color: #d11481 !important;
    text-decoration: none;
    border-bottom: 1px solid #cf0c7d;
}

/* header - work nav links – scrolled */

.ww-work .page-navigation.scrolled li a.page-navigation-link { color: #1e2128 !important; }

.ww-work .page-navigation.scrolled li a.page-navigation-link:hover {
	color: #1e2128 !important;
    text-decoration: none;
    border-bottom: 1px #1e2128 solid;
}

.ww-work .page-navigation.scrolled li a.page-navigation-link-active {
	color: #d11481 !important;
    border-bottom: 1px solid #cf0c7d;
    opacity: 1.0 !important;
}
.ww-work .page-navigation.scrolled li a.page-navigation-link-active:hover {
	color: #d11481 !important;
    text-decoration: none;
    border-bottom: 1px solid #cf0c7d;
}

/* header - work states – scrolled Up */

.ww-work .headerScrolledUp .page-navigation { transform: translateY(0px); }

.ww-work .headerScrolledUp .ww-underlay { background: rgba(255,255,255,0.9); }

/* header - work states – scrolled Down */

.ww-work .headerScrolledDown .page-navigation.scrolled { margin-top: -78px; }

.ww-work .headerScrolledDown .ww-underlay { background: rgba(30,33,40,0.0); }




/* header - home
--------------------------------------------------- */

.home .ww-underlay { background: rgba(30,33,40,0.0); }

.home .ww-underlay.scrolled { background: rgba(30,33,40,0.9); }


/* header - home logo link */
.home .page-navigation .site-title-r {

	opacity: 0.0 !important;

	-webkit-transition: all 0s ease-out 0s;
  	     -o-transition: all 0s ease-out 0s;
    	    transition: all 0s ease-out 0s;

}

.home .page-navigation.scrolled .site-title-r {

	opacity: 1.0 !important;

	-webkit-transition: all .5s ease-out .5s;
  	     -o-transition: all .5s ease-out .5s;
    	    transition: all .5s ease-out .5s;

}

/* header - home nav links */

.home .page-navigation li a.page-navigation-link { color: white !important; }

.home .page-navigation li a.page-navigation-link:hover {
	color: white !important;
    text-decoration: none;
    border-bottom: 1px solid white;
}

/* header - home nav links – scrolled */

.home .page-navigation.scrolled li a.page-navigation-link { color: #1e2128 !important; }

.home .page-navigation.scrolled li a.page-navigation-link:hover {
	color: #1e2128 !important;
    text-decoration: none;
    border-bottom: 1px #1e2128 solid;
}

/* header - home states – scrolled Up */

.home .headerScrolledUp .page-navigation { transform: translateY(0px); }

.home .headerScrolledUp .ww-underlay { background: rgba(255,255,255,0.9); }

/* header - home states – scrolled Down */

.home .headerScrolledDown .page-navigation.scrolled { margin-top: -78px; }

.home .headerScrolledDown .ww-underlay { background: rgba(30,33,40,0.0); }



.page-footer {
    background-color: #1d2028;
    padding: 50px;
    position: relative;
}
.page-footer-heading {
    line-height: 60px;
    font-size: 48px;
    font-size: 4.8rem;
    font-weight: 200;
    color: #fff;
}
.page-footer-button {
    display: block;
    width: 100%;
    max-width: 300px;
    text-align: center;
    background: #c624ae;
    border-radius: 4px;
    font-weight: 300;
    font-size: 29px;
    font-size: 2.9rem;
    color: #fff;
    padding: 2rem 0;
    margin: 0 auto;
    border: none;
    font-family: inherit;
    cursor: pointer;
    outline: none;
    outline: 0;
}
.page-footer-button:focus {
    outline: 0;
}
.page-footer-button:hover {
    color: #fff;
    background-color: #e057cc;
}
.page-footer-button:link {
    text-decoration: none;
}
.page-footer-credits {
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 20px;
    color: #7c7c7c;
}
.page-footer-credits a { color: #7c7c7c; }
.page-footer-credits a:hover { color: #fff; text-decoration: none; }
.page-footer-separator {
    margin: 0 15px;
    color: #404f60;
    opacity: .3;
}
.page-footer-copyright {
    color: #555;
}
.footer-form-step {
    display: none;
    height: 300px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    position: relative;
}
.page-footer .footer-form-step li {
    display: inherit;
    width: 100%}
.page-footer .footer-form-step li a {
    display: block;
    font-size: 24px;
    font-size: 2.4rem;
    color: #7c7c7c;
    padding: 2rem;
}
.page-footer .footer-form-step li a:hover {
    text-decoration: none;
    color: #fff;
}
.form-close {
    width: 2.4rem;
    height: 2.4rem;
    text-indent: -9999px;
    background: url(/images/icon-form-close.svg) no-repeat;
    display: block;
    position: absolute;
    right: 0;
}
.page-footer .footer-form-step input {
    margin: 0 0 2rem;
    height: 4rem;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Assistant, sans-serif;
}
.page-footer .footer-form-step input[type=email], .page-footer .footer-form-step input[type=text] {
    width: 100%;
    background-color: #1b1c25;
    color: #fff;
    font-size: 20px;
    font-size: 2rem;
    border-bottom: 1px solid #7c7c7c;
}
.page-footer .footer-form-step input[type=email]:focus, .page-footer .footer-form-step input[type=text]:focus {
    border: 1px solid #c624ae;
    outline: none;
    padding: 2.5rem;
}
.page-footer .footer-form-step input[type=submit] {
    border-radius: 2px;
    background-color: #c624ae;
    color: #fff;
    padding: 1.2rem 2.5rem 2rem;
    cursor: pointer;
}
.page-footer .footer-form-step input[type=submit]:hover {
    background-color: #ed08d3;
}
.ww-form {
    height: 0;
    -webkit-transition: display .1s ease-in-out;
    transition: display .1s ease-in-out;
    display: none;
}
.ww-form.active {
    display: block;
}

/*.ww-portfolio-nav {
    height: 10rem;
}
.ww-portfolio .jumbotron {
    padding-top: 10rem;
}
.ww-portfolio .jumbotron .flex-first {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
}
@media (min-width:992px) {
    .ww-portfolio .jumbotron .flex-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
}*/

.jumbotron-padding {
    text-align: center;
}
@media (min-width:576px) {
    .jumbotron-padding {
    padding: 0;
}
}@media (min-width:1200px) {
    .jumbotron-padding {
    padding-left: 33px;
    padding-right: 33px;
}
}.jumbotron-padding .home-carousel-header-arrow {
    margin: 0;
    display: none;
}
@media (min-width:992px) {
    .jumbotron-padding .home-carousel-header-arrow {
    display: block;
}
}.heading-primary {
    font-size: 36px;
    font-weight: 300;
    color: #282828;
    margin-bottom: 1rem;
}
.jumbotron-logo-project {
    margin: 2rem auto;
    width: 100%;
    position: relative;
    display: block;
}
@media (min-width:992px) {
    .jumbotron-logo-project {
    position: absolute;
    top: 40%}
}.heading-secondary {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 5px;
    color: #7c7c7c;
    margin-bottom: 17px;
}
.ww-separator {
    width: 173px;
    border-top: 2px solid #ed08d3;
    margin: 19px auto;
    display: block;
}
.header-text {
    font-size: 18px;
    color: #7c7c7c;
    line-height: 30px;
    margin: 2rem auto 0;
}
/*.portfolio-testimonial {
    background: url(/images/portfolio_bgd_wagz.jpg) no-repeat;
    background-size: cover;
    background-position: 0;
    min-height: 620px;
    color: #fff;
    line-height: 4.8rem;
    font-size: 22px;
    font-size: 2.2rem;
    padding: 3rem;
}
@media (min-width:768px) {
    .portfolio-testimonial {
    padding: 10rem 6rem;
    width: 100%;
    min-height: 420px;
}
}.portfolio-testimonial p {
    text-align: center;
    margin-left: 0;
}
@media (min-width:576px) {
    .portfolio-testimonial p {
    max-width: 70%;
    text-align: center;
    margin-left: 20%}
}@media (min-width:992px) {
    .portfolio-testimonial p {
    max-width: 50%;
    text-align: center;
    margin-left: 40%}
}.portfolio-testimonial img {
    margin: 2rem 0 0;
}*/
.portfolio-header {
    margin: 3rem 0;
}
@media (min-width:768px) {
    .portfolio-header {
    margin: 6rem 0;
}
}.ww-sub-text {
    text-align: left;
    line-height: 3rem;
    font-size: 14px;
    font-size: 1.4rem;
    margin-left: 0;
}
@media (min-width:768px) {
    .ww-sub-text {
    text-align: right;
    margin-left: 20%}
}.project-description {
    margin-bottom: 3rem;
}
.project-description p {
    font-size: 1.8rem;
    color: #7c7c7c;
    line-height: 3.6rem;
}
@media (min-width:768px) {
    .project-description {
    padding: 3rem;
    margin: 6rem 0;
    min-height: 525px;
}
}.ww-paragraph {
    padding: 0 0 0 3rem;
    border-left: 4px solid #bb203f;
    line-height: 2rem;
    margin: 6rem 0 0 2rem;
}
.ww-paragraph p {
    color: #1e2128;
    font-weight: 200;
}
@media (min-width:768px) {
    .ww-paragraph {
    padding: 0 0 0 4rem;
    margin: 6rem 0 0;
}
}
