/**
 * Global styles
 */
 /* 10px browser default */
 html {
     font-size: 62.5%;
 }

body {
  font-family: 'Assistant', sans-serif;
  font-size: 1.8rem;
  line-height: 1.625rem;
  text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: auto;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-kerning: normal;
}

header {
  background-color: #1E2128;
  /*background-color: #101418;*/
  color: #fff;
  display: flex;
  height: 760px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 99999!important;
}

header h1 {
  width: 89px;
  height: 182px;
  text-indent: -9999px;
  display: block;
  background: url("../images/logo_animated_transparent.gif") no-repeat;
  z-index: 99999!important;
}

header h2 {
  width: 50%;
  font-size: 3.6rem;
  margin: 3.6rem 0;
  line-height: 5rem;
  z-index: 99999!important;
  font-weight: 300;
}

.ww-panels .carousel {
  /*text-align: center;
  padding: 3rem 2rem;*/
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);
  /*color: #1E2128;*/
  }

.ww-panels .carousel-item {
  /*color: #1E2128;*/
  /*width: 400px;*/
  height: 350px;
  /*display: flex;*/
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
  text-align: center;
}

.ww-panels .carousel-item h3, #home-carousel-startups .carousel-item p {
  color: #1E2128;
}
.ww-panels .carousel-item h3 {
  margin: 0 0 2rem 0;
  font-size: 2.4rem;
  font-weight: 700;
  color: #404F60;
}

/*.ww-row {
  padding: 10rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}*/

/*.ww-panel {
  text-align: center;
  padding: 3rem 2rem;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);
  margin: 0 0 1.5rem 0;
  width: 31%;
  height: 360px;
}*/

/*.ww-panel img {
  max-width: 100%;
}*/

/*.ww-panel h4 {
  margin: 0 0 2rem 0;
  font-size: 2.4rem;
  font-weight: 700;
  color: #404F60;
}*/

.ww-panels .carousel-item.ww-panel-icon {
  /*flex-direction: row;*/
  /*align-items: flex-start;*/
  justify-content: space-around;
}

.ww-panel p {
  /*margin: 2rem 0 2.5rem;*/
  /*line-height: normal;*/
  font-size: 1.6rem;
  /*font-size: 16px;*/
  /*font-weight: 300;*/
  color: #737373;
  /*line-height: 24px;*/
  /*margin: 18px 40px;*/
  /*text-align: center;*/
}

.ww-btn {
  border-radius: 2px;
  border:1px solid #4A90E2;
  background-color: #fff;
  color: #4A90E2;
  padding: 1.2rem 1.5rem;
  display: inline-block;
  font-size: 1.6rem;
}

.ww-btn:hover {
  text-decoration: none;
  background-color: #4A90E2;
  color: #fff;
}

/**
 * Navigation
 */

 .site-title-r {
   text-indent: -99999px;
   display: block;
   background: url("../images/logo-proximity-lab-pink-2.svg") no-repeat;
   width: 27px;
   height: 36px;
   text-align: left;
   display: inline-block;
   /*z-index: 99999!important;*/
 }

 /*.page-navigation {
  width: 100%;
  position: fixed;
  text-align: right;
  padding: 38px 61px;
  z-index: 1;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.5s;
  z-index: 2;
  top: 0;
}*/

 /*.carousel{
    z-index: 0!important;
    }*/

.primary-nav-holder {
  background-color: #1E2128;
  position: fixed;
  width: 100%;
  z-index: 2;
  transition: all 0.5s;
  opacity: 0;
    /*top: 0;
    bottom: 0;
    left: 0;
    right:0;*/
    /*z-index: 99999!important;*/
    /*pointer-events:none;*/
  /*z-index: 9999!important;*/
}

.page-navigation {
  padding: 20px 61px;
  font-size: 18px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;

  /*width: 100%;*/
  /*position: fixed;*/
  /*text-align: right;*/
  /*top: 0;*/
  /*display: flex;*/
  /*text-align: center;*/
}

/*.page-navigation ul {

}*/

.page-navigation li {
  display: inline-block;
}

.page-navigation-animate {
  opacity: 1;
}

.page-navigation-link {
    color: #FFF;
}

.page-navigation-link:hover {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #ED08D3;
}

.page-navigation-link:last-child {
  margin-left: 36px;
}


/**
 * Page footer
 */

 .page-footer {
  background-color: #1B1C25;
  padding-top: 100px;
  padding-bottom: 40px;
  position: relative;
}

@media (min-width: 992px) {
  .page-footer {
    padding-left: 110px;
  }
}

.page-footer-logo {
  width: 27px;
  position: absolute;
  top: 40px;
  left: 45px;
}

.page-footer-heading {
  line-height: 60px;
  font-size: 48px;
  font-weight: 200;
  color: #FFFFFF;
}

.page-footer-button {
  display: block;
  width: 100%;
  max-width: 300px;
  text-align: center;
  background: #C624AE;
  border-radius: 4px;
  font-weight: 300;
  font-size: 29px;
  color: #FFFFFF;
  padding: 8px 0;
  margin: 0 auto;
}

.page-footer-button:hover {
  color: #FFFFFF;
  background-color: #E057CC;
}

.page-footer-button:link {
  text-decoration: none;
}

.page-footer-links-container {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}

.page-footer-item {
  display: inline;
  margin-right: 22px;
}

.page-footer-link {
  color: #FFB1FE;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.page-footer-link:hover {
  color: #FFB1FE;
  text-decoration: none;
  border-bottom: 1px solid #ED08D3;
}

.page-footer-credits {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #9B9B9B;
}

.page-footer-separator {
  margin: 0 15px;
  color: #979797;
  opacity: 0.3;
}
