/**
 * Minum page
 */

/* jumbotron */

.ww-portfolio .jumbotron {
  background-image: linear-gradient(-135deg, #1E6BAD 0%, #32BAF2 100%);
  margin-bottom: 0;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 0;
}

@media (min-width: 992px) {
    .ww-portfolio .jumbotron {
        padding-top: 8rem;
    }
}


.jumbotron-logo-project {
    width: 169px;
    padding: 6rem 0 3rem 0;
    /*margin: auto;*/
    display: block;
    position: relative;
    margin: 0 auto;
}

@media (min-width: 992px) {
    .jumbotron-logo-project {
      margin: auto;
      position: absolute;
      top:0;
      bottom:0;
      right: 0;
    }
}


.scroll-down-arrow {
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: url(/images/icon-arrow-bottom.svg);
    opacity: .2;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    display: none;
    position: absolute;
    margin: auto;
    bottom: 2rem;
    right: 55px;
}

.scroll-down-arrow:hover {
    opacity: 1;
}

@media (min-width: 992px) {
    .scroll-down-arrow {
        display: block;
    }
}

/* portfolio */
@media (max-width: 575px) {
  .portfolio-header {
    margin: 3rem 0 3rem;
  }
}

.portfolio {
    padding: 0 0 3.4rem 0;
}

@media (min-width: 768px) {
    .portfolio {
        padding: 3rem 0 6rem 0;
    }
}
.ww-paragraph {
  border-color: #5F97E9;
  margin-bottom: 6rem;
}

.ww-paragraph p {
  line-height: normal;
}

.halfie {
  padding: 0;
}

.halfie .row {
  margin: 0;
}

.halfie .half-image {
  height: 300px;
}

.halfie .half-image.flex-first {
  order: 1;
}

@media (min-width: 576px) {
  .halfie .half-image {
    /*display: flex;*/
    height: 300px;
    margin-bottom: 3rem;
  }
}

.halfie .text-container {
  padding: 0 3rem 3rem;
}

@media (min-width: 576px) {
  .halfie .text-container {
    padding: 0 6rem 3rem;
  }
}

@media (min-width: 768px) {
  .halfie .text-container {
    padding: 3rem 6rem;
  }
}

@media (min-width: 992px) {
  .halfie .text-container.left {
    padding: 3rem 6rem 3rem 10rem;
  }
  .halfie .text-container.right {
    padding: 3rem 10rem 3rem 6rem;
  }
}

.halfie #map .half-image {
  background: url('/images/portfolio-journey-map.png') no-repeat;
  background-size: 90%;
  background-position: right center;
    order: -1;
}

@media (min-width: 576px) {
  .halfie #map .half-image {
  margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .halfie #map .half-image {
    height: 600px;
  }
}

@media (min-width: 992px) {
  .halfie #map .half-image {
      height: 600px;
  }
}

@media (min-width: 1200px) {
  .halfie #map .half-image {
      height: 650px;
  }
}

@media (min-width: 1440px) {
  .halfie #map .half-image {
      height: 600px;
  }
}

.halfie #map .text-container {
  align-self: center;
}

@media (min-width: 992px) {
  .halfie #map .text-container {
    align-self: flex-start;
    padding: 0 10rem 0 2rem;
  }
}

@media (min-width: 1200px) {
  .halfie #map .text-container {
    align-self: center;
  }
}

.halfie #bt .half-image {
  background: url('/images/portfolio-minim-bt-screen.jpg') no-repeat;
  background-size: cover;
    order: -1;
}

@media (min-width: 768px) {
  .halfie #bt .half-image {
    margin-bottom: 0;

  }
}

@media (min-width: 992px) {
  .halfie #bt .half-image {
    height: 760px;
    order: 1;
  }
}

.halfie #moms .half-image {
  background: url('/images/portfolio-minim-moms-screen.jpg') no-repeat;
  background-size: cover;
    margin-bottom: 0;
    order: -1;
}

@media (min-width: 992px) {
  .halfie #moms .half-image {
    height: 760px;
  }
}

@media (min-width: 1440px) {
  .halfie #moms .half-image {
    height: 760px;
  }
}

 .halves h2,
 .halfie h2
 {
    font-size: 3.4rem!important;
    color: #282828!important;
    font-weight: 300!important;
    margin: 2rem 0!important;
}

.project-description {
  min-height: 0;
  margin: 0;
  padding-left: 3rem;
  padding-right: 3rem;
}

@media (min-width: 576px) {
  .project-description {
    padding: 0 0 0 6rem;
  }
}

@media (min-width: 992px) {
  .project-description {
    padding: 0 0 0 10rem;
    margin-top: 3rem;
  }
}

@media (min-width: 1200px) {
  .project-description {
    min-height: 1225px;
  }
}

.project-description h3 {
    font-size: 1.8rem!important;
    color: #282828!important;
    font-weight: 700!important;
    margin: 2rem 0!important;
}

.project-description p {
    margin: 0 6rem 4rem 0;
}

.project-description .product-image .img-fluid {
  max-width: unset;
  max-height: 100%;
  height: 96%;
  width: auto;
}

@media (min-width: 1200px) {
  .project-description p {
    margin: 0 3rem 4rem 0;
  }
  .product-image {
    padding-left: 5rem;
  }
}

.portfolio-service {
    margin: 40px 0;
}

.portfolio-service-icon {
    margin-bottom: 27px;
}

.portfolio-service-heading {
    font-size: 24px;
    font-weight: 300;
    color: #4A4A4A;
    margin-bottom: 16px;
}

.portfolio-service-text {
    max-width: 292px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    color: #989898;
}
.project-more-info {
  background: url('/images/portfolio_bgd_amadeus.jpg') no-repeat;
  background-size: cover;
  background-position: center top;
  font-size: 1.5rem;
  color: #282828;
}

.project-more-info .top {
  padding: 4rem 3rem 34rem;
}

@media (min-width: 576px) {
  .project-more-info .top {
    padding: 3rem 3rem 26rem;
  }
}

@media (min-width: 768px) {
  .project-more-info .top {
    padding: 6rem 6rem 20rem;
  }
}

@media (min-width: 992px) {
  .project-more-info .top {
    padding: 10rem 10rem 20rem;
  }
}

.project-more-info h2 {
  font-size: 3.4rem;
  font-weight: 300;
  margin-bottom: 1.7rem;
}

.project-more-info p {

}

@media (min-width: 576px) {
  .project-more-info p {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .project-more-info p {
    margin-right: 30%;
  }
}

@media (min-width: 768px) {
  .project-more-info p {
    margin-right: 40%;
  }
}

.project-more-info .bottom {
  padding: 2rem 0 0 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.project-more-info .bottom .inner img {
  width: 100%;
}

.project-services {
  padding: 6rem -15px;
}


.project-service {
  margin:4rem 0;
}

@media (min-width: 1440px) {
  .portfolio-testimonial .ww-content {
    max-width: 64%;
    margin: 0 18% 0 18%;
  }
}

.portfolio-testimonial {
  background: none;
  background-color: #0CC1D3;
  color: #fff;
  font-size: 2.4rem;
  padding: 3rem 3rem;
}

@media (min-width: 576px) {
    .portfolio-testimonial {
        padding: 6rem;
        align-items: center;
    }
}

@media (min-width: 768px) {
    .portfolio-testimonial {
        padding: 8rem 6rem;
        width: 100%;
    }
}

.portfolio-testimonial p {
text-align: center;
  margin: 0 auto;
  max-width: 95%;
  font-size: 2rem;
  line-height: 3.5rem;
}



.portfolio-testimonial .home-carousel-testimonial-author-title {
  font-size: 2rem;
  margin-top: 3rem;
  line-height: normal;
}


@media (min-width: 576px) {
  .portfolio-testimonial p {
    max-width: 95%;
    font-size: 3rem;
    line-height: 5rem;
  }
}

@media (min-width: 768px) {
  .portfolio-testimonial p {
    max-width: 85%;
    font-size: 3rem;
    line-height: 5rem;
  }
}

@media (min-width: 992px) {
  .portfolio-testimonial p {
    max-width: 85%;
    font-size: 3rem;
    line-height: 5rem;
  }
}

.portfolio-testimonial img {
margin: 3rem auto 2rem;
display: block;
width: 70px;
height: 70px;
}

@media (min-width: 576px) {
    .portfolio-testimonial img {
    margin: 8rem auto 0;
  }
}

.ww-hero-image {
  width: 269px;
  height: 475px;
  overflow: hidden;
}

.ww-vid-holder {
  width: 269px;
  height: 480px;
  position: relative;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .ww-hero-image {
    width: 269px;
    height: 454px;
  }
  .ww-vid-holder {
    height: 523px;
    background: url("/images/iphone-chrome.svg") no-repeat;
    background-size: contain;
  }
}

@media (min-width: 1200px) {
  .ww-hero-image {
    width: 300px;
    height: 544px;
    margin-top: -40px;
  }
  .ww-vid-holder {
    width: 300px;
    height: 627px;
  }
}

.ww-vid {
  position: relative;
}

@media (min-width:576px) {
  .ww-vid {
    position: absolute;
    margin: 0;
    top: 11%;
    left: 5%;
  }
}

@media (min-width: 1200px) {
  .ww-vid {
    margin: 0;
    top: 11%;
    left: 5%;
  }
}

#video1 {
  width: 269px;
  border: none;
}

@media (min-width: 576px) {
  #video1 {
    width: 224px;
  }
}

@media (min-width: 1200px) {
  #video1 {
    width: 269px;
  }
}

#ww-play-pause {
  background: url("/images/icon-play-circle-o-white.svg") no-repeat;
  background-size: 4rem 4.3rem!important;
  background-position: center!important;
  border:0;
  padding: 0;
  text-indent: -9999px;
  width: 269px;
  height: 97.5%;
  position: absolute;
  margin: 0;
  top: 0;
  left: -.0001%;
  outline:0;
  -webkit-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
  cursor: pointer;
  background-color: rgba(0, 0, 0, .3);
}

@media (min-width: 576px) {
  #ww-play-pause {
    width: 224px;
    height: 97%;
  }
}

@media (min-width: 1200px) {
  #ww-play-pause {
    width: 269px;
    height: 97.5%;
  }
}

#ww-play-pause.ww-init {
  opacity: 0;
  background-size: 4rem 4.3rem;
  background-position: center;
}

#ww-play-pause:hover {
  opacity: 0;
  background-size: 4rem 4.3rem!important;
  background-position: center!important;
}

@media (min-width: 992px) {
  #ww-play-pause:hover {
    opacity: 1;
  }
}

#ww-play-pause.active {
  background: url("/images/icon-pause-circle-o-white.svg") no-repeat;
  background-size: 4rem 4.3rem;
  background-position: center;
}

#ww-play-pause:focus,
#ww-play-pause:active
{
  background-size: 4rem 4.3rem;
  background-position: center;
}
