/**
 * Philips page
 */

/* jumbotron */

.ww-portfolio .jumbotron {
background-image: linear-gradient(-134deg, #11478C 0%, #2F86FC 100%);
  margin-bottom: 0;
  position: relative;
  padding-top: 8rem;
}

@media (min-width: 1200px) {
    .ww-portfolio .jumbotron {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}

.jumbotron-logo-project {
    width: 225px;
    padding-bottom: 2rem;
    margin: auto;
    display: block;
    position: relative;
}

@media (min-width: 992px) {
    .jumbotron-logo-project {
      margin: auto 0;
      position: absolute;
      top:0;
      bottom:0;
      right: 0;
      padding: 0;
      /*left: 3rem;*/
    }
}
/* portfolio */

.portfolio {
    padding: 0 0 3.4rem 0;
}

@media (min-width: 768px) {
    .portfolio {
        padding: 3rem 0 6rem 0;
    }
}

.ww-paragraph {
  border-color: #5F97E9;
  margin-bottom: 6rem;
}

.ww-paragraph p {
  line-height: normal;
}

.project-description {
  min-height: 0;
  margin-bottom: 2rem;
}


@media (min-width: 576px) {
    .project-description {
      padding: 0 6rem 0;
      margin-bottom: 2rem;
    }
}

@media (min-width: 768px) {
    .project-description {
      margin-bottom: 0;
    }
}

@media (min-width: 992px) {
  .project-description {
    background: url('../images/portfolio-description-philips-bgd.png') no-repeat;
    background-position: 100% top;
    background-size: 50%;
    padding: 6rem 6rem 0;
    margin-bottom: 3rem;

  }
}

@media (min-width: 1440px) {
  .project-description {
    margin-bottom: 0;
    min-height: 850px;

  }
}

/*@media (min-width: 1200px) {
  .project-description {
    background-position: 100% top;
    background-size: 42%;
  }
}*/


.project-description p {
  margin-bottom: 3rem;
}

.project-description p:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
    .project-description p:last-child {
      margin-bottom: 0;
    }
}

@media (min-width: 992px) {
    .project-description p:last-child {
      margin-bottom: 0;
    }
}

.scroll-down-arrow {
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: url(/images/icon-arrow-bottom.svg);
    opacity: .2;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    display: none;
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    right: 0;
    left: 30%;
}

.scroll-down-arrow:hover {
    opacity: 1;
}

@media (min-width: 992px) {
    .scroll-down-arrow {
        display: block;
        left:10%;
    }
}


@media (min-width: 1200px) {
      .scroll-down-arrow {
          left: 25%;
      }
}

@media (min-width: 1440px) {
      .scroll-down-arrow {
          left: 40%;
      }
}


@media (min-width: 768px) {
    .portfolio-image {
        background-repeat: no-repeat;
        background-image: url('/images/songbird-carousel-placeholder.png');
    }
}

.portfolio-service {
    margin: 40px 0;
}

.portfolio-service-icon {
    margin-bottom: 27px;
}

.portfolio-service-heading {
    font-size: 24px;
    font-weight: 300;
    color: #4A4A4A;
    margin-bottom: 16px;
}

.portfolio-service-text {
    max-width: 292px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    color: #989898;
}
.project-more-info {
  background: url('/images/portfolio_bgd_amadeus.jpg') no-repeat;
  background-size: cover;
  background-position: center top;
  font-size: 1.5rem;
    color: #282828;
    /*padding: 0;*/
}

.project-more-info .top {
  padding: 4rem 3rem 34rem;
}

@media (min-width: 576px) {
  .project-more-info .top {
    padding: 3rem 3rem 26rem;
  }
}

@media (min-width: 768px) {
  .project-more-info .top {
    padding: 6rem 6rem 20rem;
  }
}

@media (min-width: 992px) {
  .project-more-info .top {
    padding: 10rem 10rem 20rem;
  }
}

.project-more-info h2 {
  font-size: 3.4rem;
  font-weight: 300;
  margin-bottom: 1.7rem;
}

.project-more-info p {

}

@media (min-width: 576px) {
  .project-more-info p {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .project-more-info p {
    margin-right: 30%;
  }
}

@media (min-width: 768px) {
  .project-more-info p {
    margin-right: 40%;
  }
}

.project-more-info .bottom {
  padding: 2rem 0 0 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.project-more-info .bottom .inner img {
  width: 100%;
}

.container-fluid.project-services {
  padding: 3rem;
}

@media (min-width: 768px) {
  .container-fluid.project-services {
    padding: 6rem 6rem 0;
  }
}

@media (min-width: 1440px) {
  .container-fluid.project-services {
    padding: 6rem 6rem 0;
  }
}




.project-service {
  margin: 0 0 6rem;
}

@media (min-width: 576px) {
  .project-service {
    margin: 0 0 2rem;
  }

  @media (min-width: 1200px) {
    .project-service {
      margin: 0 0 6rem;
    }
