/**
 * Schedule Me page
 */



.ww-portfolio p {
  margin-bottom: 4rem;
}
/* jumbotron */

.ww-portfolio .jumbotron {
  background-image: linear-gradient(-224deg, #60A907 0%, #73CC00 100%);
  margin-bottom: 0;
  position: relative;
  padding-top: 8rem;
}

@media (min-width: 1200px) {
    .ww-portfolio .jumbotron {
        padding-left: 20rem;
        padding-right: 20rem;
    }
}

.jumbotron-logo-project {
    width: 229px;
    display: block;
    position: relative;
    padding-bottom: 2rem;
    margin: auto;
}

@media (min-width: 992px){
.jumbotron-logo-project {
    margin: auto;
    position: absolute;
    top:0;
    bottom:0;
    right: 0;
    left:0;
    padding: 0;
  }
}

.ww-hero-image {
  margin-bottom: -2.1rem;
}

@media (min-width: 576px){
  .ww-hero-image {
    margin-bottom: -3.1rem;
  }
}


.scroll-down-arrow {
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: url(/images/icon-arrow-bottom.svg);
    opacity: .2;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    display: none;
    position: absolute;
    margin: auto;
    left: 100%;
    bottom: 0;
    right: 0;
}

.scroll-down-arrow:hover {
    opacity: 1;
}

@media (min-width: 992px) {
    .scroll-down-arrow {
        display: block;
        left: 0;
    }
}

@media (min-width: 1200px) {
      .scroll-down-arrow {
          left: 0;
      }
}

/*@media (min-width: 1440px) {
      .scroll-down-arrow {
          left: 0;
      }
}*/

/* portfolio */

.portfolio {
    padding: 0 0 3.4rem 0;
}

@media (min-width: 768px) {
    .portfolio {
        padding: 3rem 0 6rem 0;
    }
}

/*.portfolio-paragraph {
  margin-top: 6rem;
}*/


@media (min-width: 992px) {
    .portfolio-paragraph {
      margin-top: 6rem
    }
}

.project-description {
  min-height: 0;
}

@media (min-width: 768px) {
    .project-description {
      padding: 0 6rem;
      margin-top: 0;
    }
}

@media (min-width: 992px) {
  .project-description {
      padding: 6rem 0 3rem 6rem;

  }
}

.project-description img {
  max-width: 100%;
  height: auto;
}

.portfolio-service {
    margin: 40px 0;
}

.portfolio-service-icon {
    margin-bottom: 27px;
}

.portfolio-service-heading {
    font-size: 24px;
    font-weight: 300;
    color: #4A4A4A;
    margin-bottom: 16px;
}

.portfolio-service-text {
    max-width: 292px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    color: #989898;
}
.project-more-info {
  /* background: url('/images/portfolio_bgd_amadeus.jpg') no-repeat; */
  background-size: cover;
  background-position: center top;
  font-size: 1.5rem;
    color: #282828;
    /*padding: 0;*/
}

.project-more-info .top {
  padding: 4rem 3rem 34rem;
}

@media (min-width: 576px) {
  .project-more-info .top {
    padding: 3rem 3rem 26rem;
  }
}

@media (min-width: 768px) {
  .project-more-info .top {
    padding: 6rem 6rem 20rem;
  }
}

@media (min-width: 992px) {
  .project-more-info .top {
    padding: 10rem 10rem 20rem;
  }
}

.project-more-info h2 {
  font-size: 3.4rem;
  font-weight: 300;
  margin-bottom: 1.7rem;
}

.project-more-info p {

}

@media (min-width: 576px) {
  .project-more-info p {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .project-more-info p {
    margin-right: 40%;
  }
}

.project-more-info .bottom {
  padding: 2rem 0 0 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.project-more-info .bottom .inner img {
  width: 100%;
}

.rootinsight-portfolio {
  margin: 0 0 6rem;
  padding: 0 3rem;
}

@media (min-width: 768px) {
  .rootinsight-portfolio {
    margin: 0 0 8rem;
    padding: 0 6rem;
  }
}

.rootinsight-portfolio .project-service {
  background: #FFFFFF;
  box-shadow: 0 2px 15px 0 rgba(0,0,0,0.20);
  margin: 0;
  height: 100%;
}

.rootinsight-portfolio .project-service .container-fluid {
  padding: 0;
}

.rootinsight-portfolio .project-service .row > [class*='col-'] {
  overflow: hidden;
}

.rootinsight-portfolio .project-service img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 992px) {
  .rootinsight-portfolio .project-service .row {
    max-height: 350px;
  }
  .rootinsight-portfolio .project-service img {
    max-width: 200%;
    margin-left: -40%;
    height: auto;
  }
}

@media (min-width: 1440px) {
  .rootinsight-portfolio .project-service img {
    max-width: 100%;
    margin-left: 0;
    height: auto;
  }
}

.rootinsight-portfolio .portfolio-service-body {
  margin: 40px 0;
}

.rootinsight-portfolio .portfolio-service-heading {
    color: #4A4A4A;
    margin: 5rem 0 2rem;
    padding: 0 3rem 0.8rem;
    font-size: 1.8rem;
    color: #282828;
    font-weight: 700;
}

.rootinsight-portfolio .portfolio-service-text {
    max-width: 100%;
    margin: 0 auto 5rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    color: #989898;
    padding: 0 3rem ;
}

#rootinsight-carousel-hero .carousel-inner {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    padding-bottom: 75%;
}

#rootinsight-carousel-hero .carousel-inner .carousel-item {
  width: 100%;
}

#rootinsight-carousel-hero .carousel-inner .carousel-item:before {
  display: block;
  content: "";
  width: 100%;
}

#rootinsight-carousel-hero .carousel-inner .carousel-item .img-fluid {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.project-services {
  padding: 0 3rem;
}

@media (min-width: 768px) {
  .project-services {
    padding: 0 6rem;
  }
}

.rootinsight-portfolio-services {
  margin-top: 0;
  margin-bottom: 3rem;
  padding-left: 0;
  padding-right: 0;
}

.rootinsight-portfolio-services .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}

.rootinsight-portfolio-services .row > [class*='col-'] {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

@media (min-width: 768px){
  .rootinsight-portfolio-services .row > [class*='col-']:first-child {
    padding-right: 4rem;
  }

  .rootinsight-portfolio-services .row > [class*='col-']:last-child {
    padding-left: 4rem;
  }
}

.rootinsight-portfolio-services .project-service {
  background: #FFFFFF;
  box-shadow: 0 2px 15px 0 rgba(0,0,0,0.20);
  margin: 0 0 3rem;
  height: 100%;
}

.rootinsight-portfolio-services .project-service img {
  max-width: 100%;
  height: auto;
  margin-bottom: 27px;
}

.rootinsight-portfolio-services .portfolio-service-body {
  margin: 40px 0;
}

.rootinsight-portfolio-services .portfolio-service-heading {
    color: #4A4A4A;
    padding: 0 3rem 1.3rem;
    font-size: 1.8rem;
    color: #282828;
    font-weight: 700;
}

.rootinsight-portfolio-services .portfolio-service-text {
    max-width: 100%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    color: #989898;
    padding: 0 3rem 3rem;
}
