/**
 * Schedule Me page
 */



.ww-portfolio p {
  margin-bottom: 4rem;
}

.ww-portfolio .portfolio-header p {
  margin-bottom: 0;
}

/* jumbotron */

.ww-portfolio .jumbotron {
  background-image: linear-gradient(-46deg, #FFBB00 0%, #D06B02 100%);
  background-image: linear-gradient(-90deg, #E48104 0%, #FFD151 49%, #E37D00 98%);
  margin-bottom: 0;
  position: relative;
  padding-top: 8rem;
}

.jumbotron-logo-project {
    width: 229px;
    display: block;
    position: relative;
    padding-bottom: 2rem;
    margin: auto;
}

@media (min-width: 992px){
.jumbotron-logo-project {
    margin: auto;
    position: absolute;
    top:0;
    bottom:0;
    right: 20px;
    padding: 0;
  }
}

.ww-hero-image {
  margin-bottom: -2.1rem;
  max-height: 138px;
  overflow: hidden;
}

@media (min-width: 576px){
  .ww-hero-image {
    margin-bottom: -4.1rem;
    max-height: 248px;
  }
}

@media (min-width: 768px){
  .ww-hero-image {
    margin-bottom: -4.1rem;
    max-height: 298px;
  }
}

@media (min-width: 992px){
  .ww-hero-image {
    margin-bottom: -3.1rem;
    max-height: unset;
  }
}


.scroll-down-arrow {
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: url(/images/icon-arrow-bottom.svg);
    opacity: .2;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    display: none;
    position: absolute;
    margin: auto;
    left: 100%;
    bottom: 0;
    right: 0;
}

.scroll-down-arrow:hover {
    opacity: 1;
}

@media (min-width: 992px) {
    .scroll-down-arrow {
        display: block;
        left: 0;
    }
}

@media (min-width: 1200px) {
      .scroll-down-arrow {
          left: 0;
      }
}

/*@media (min-width: 1440px) {
      .scroll-down-arrow {
          left: 0;
      }
}*/

@media (max-width: 575px) {
  .portfolio-header {
    margin: 3rem 0 3rem;
  }
}

/* portfolio */

.portfolio {
    padding: 0 0 3.4rem 0;
}

@media (min-width: 768px) {
    .portfolio {
        padding: 3rem 0 6rem 0;
    }
}

/*.portfolio-paragraph {
  margin-top: 6rem;
}*/


@media (min-width: 992px) {
    .portfolio-paragraph {
      margin-top: 6rem
    }
}

.project-description {
  min-height: 0;
  padding: 0 3rem 3rem;
}

.project-description p {
  padding-right: 0;
}

.project-description .product-image .img-fluid {
    width: 100%;
    height: auto;
}

@media (min-width: 576px) {
    .project-description {
      padding: 3rem 6rem;
      margin-top: 0;
    }
}

@media (min-width: 992px) {
  .project-description {
    padding: 3rem 0 3rem 10rem;
  }
  .project-description p {
    padding-right: 5rem;
  }
  .project-description .product-image {
    padding-left: 3rem;
  }
}

.portfolio-service {
    margin: 40px 0;
}

.portfolio-service-icon {
    margin-bottom: 27px;
}

.portfolio-service-heading {
    font-size: 24px;
    font-weight: 300;
    color: #4A4A4A;
    margin-bottom: 16px;
}

.portfolio-service-text {
    max-width: 292px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    color: #989898;
}

.project-more-info .top {
  padding: 4rem 3rem 34rem;
}

@media (min-width: 576px) {
  .project-more-info .top {
    padding: 3rem 3rem 26rem;
  }
}

@media (min-width: 768px) {
  .project-more-info .top {
    padding: 6rem 6rem 20rem;
  }
}

@media (min-width: 992px) {
  .project-more-info .top {
    padding: 10rem 10rem 20rem;
  }
}

.project-more-info h2 {
  font-size: 3.4rem;
  font-weight: 300;
  margin-bottom: 1.7rem;
}

.project-more-info p {

}

@media (min-width: 576px) {
  .project-more-info p {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .project-more-info p {
    margin-right: 40%;
  }
}

.project-more-info .bottom {
  padding: 2rem 0 0 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.project-more-info .bottom .inner img {
  width: 100%;
}

.project-services {
  /*background-color: #1B1C25;*/
  /*margin-bottom: 0;*/
  padding: 6rem 0;
}


.project-service {
  margin:4rem 0;
}

#scheduleme-carousel-hero .carousel-inner {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 73%;
}

#scheduleme-carousel-hero .carousel-inner .carousel-item {
  width: 100%;
}

#scheduleme-carousel-hero .carousel-inner .carousel-item:before {
  display: block;
  content: "";
  width: 100%;
}

#scheduleme-carousel-hero .carousel-inner .carousel-item .img-fluid {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*
.scheduleme-carousel-hero-indicators {
    bottom: 4px;
}

.jumbotron {
    padding: 4rem 2rem 4rem;
}

.scheduleme-carousel-hero-indicators {
  bottom: -8px;
}

@media (max-width: 575px) {
  .scheduleme-carousel-hero-indicators {
    bottom: -18px;
  }
}

@media (min-width: 576px) {
  .scheduleme-carousel-hero-indicators {
    bottom: -6px;
  }
}

@media (min-width: 768px) {
  .jumbotron {
      padding: 4rem 2rem 3rem;
  }
  
  .scheduleme-carousel-hero-indicators {
    bottom: 4px;
  }
}

@media (min-width: 992px) {
  .jumbotron {
      padding: 4rem 2rem 4rem;
  }
  
  .scheduleme-carousel-hero-indicators {
    bottom: -8px;
  }
}

li.scheduleme-carousel-hero-indicator {
    max-width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.2);
    margin-left: 6.5px;
    margin-right: 6.5px;
}
*/
