/**
 * Songbird page
 */

/* jumbotron */

.ww-portfolio .jumbotron {
  background-image:
      linear-gradient(180deg, rgba(3, 139, 130, 0.6) 0%, rgba(3, 139, 130, 0) 40%),
      linear-gradient(-90deg, #038B82 0%, #37E2D6 50%, #048A81 100%);
  margin-bottom: 0;
  padding-top: 8rem;
  position: relative;
  padding-left: 10%;
  padding-right: 10%;
}

@media (min-width: 576px) {
    .ww-portfolio .jumbotron {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (min-width: 768px) {
    .ww-portfolio .jumbotron {
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media (min-width: 992px) {
    .ww-portfolio .jumbotron {
        padding-top: 4.9rem;
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media (min-width: 1200px) {
    .ww-portfolio .jumbotron {
        padding-left: 25rem;
        padding-right: 25rem;
    }
}

.ww-hero-image {
  margin-bottom: -2rem;
}
.ww-hero-image .img-fluid {
  margin-left: -10%;
}

@media (min-width: 576px){
  .ww-hero-image {
    margin-bottom: -4rem;
    padding: 0 2.1rem 0 2.9rem;
  }
  .ww-hero-image .img-fluid {
    margin-left: 5%;
  }
}

@media (min-width: 992px){
  .ww-hero-image .img-fluid {
    margin-left: 2.5%;
  }
}


.jumbotron-logo-project {
    width: 190px;
    display: block;
    padding-bottom: 2rem;
    position: relative;
    margin: auto;
}

@media (min-width: 768px){
.jumbotron-logo-project {
    width: 224px;
    margin: auto;
    position: absolute;
    top: 2.7rem;
    bottom: 0;
    right: 0;
    left: 32.5%;
    padding: 0;
  }
}

.scroll-down-arrow {
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: url(/images/icon-arrow-bottom.svg);
    opacity: .2;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    display: none;
    position: absolute;
    margin: auto;
    left: 100%;
    bottom: 0;
    right: 0;
}

.scroll-down-arrow:hover {
    opacity: 1;
}

@media (min-width: 992px) {
    .scroll-down-arrow {
        display: block;
        left: 50%;
    }
}

@media (min-width: 1440px) {
      .scroll-down-arrow {
          left: 25%;
      }
}

@media (max-width: 575px) {
  .portfolio-header {
    margin: 3rem 0 3rem;
  }
}

/* portfolio */

.portfolio {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

@media (min-width: 576px) {
    .portfolio {
        margin: 3rem 0 3rem;
    }
}

@media (min-width: 768px) {
    .portfolio {
        margin: 0;
    }
}

@media (min-width: 1440px) {
    .portfolio {
        background-size: 35%;
        /*background-position: right 6rem;*/
    }
}

@media (min-width: 768px) {
  .portfolio-paragraph {
    margin: 3rem 0;
  }
}

.portfolio-service {
    margin: 40px 0;
}

.portfolio-service-icon {
    margin-bottom: 27px;
    height: 60px;
}

.portfolio-service-heading {
    font-size: 24px;
    font-weight: 300;
    color: #4A4A4A;
    margin-bottom: 16px;
}

.portfolio-service-text {
    max-width: 100%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    color: #989898;
}

@media (min-width: 992px) {
  .portfolio-service-text {
      max-width: 325px;
  }
}
/*
@media (min-width: 1200px) {
  .project-description {
    background-position: 100% top;
    background-size: contain;
  }
}*/

.project-more-info {
  background: url('/images/portfolio_bgd_amadeus.jpg') no-repeat;
  background-size: cover;
  background-position: center top;
  font-size: 1.5rem;
    color: #282828;
    /*padding: 0;*/
}

.project-more-info .top {
  padding: 4rem 3rem 34rem;
}

@media (min-width: 576px) {
  .project-more-info .top {
    padding: 3rem 3rem 26rem;
  }
}

@media (min-width: 768px) {
  .project-more-info .top {
    padding: 6rem 6rem 20rem;
  }
}

@media (min-width: 992px) {
  .project-more-info .top {
    padding: 10rem 10rem 20rem;
  }
}

.project-more-info h2 {
  font-size: 3.4rem;
  font-weight: 300;
  margin-bottom: 1.7rem;
}

.project-more-info p {

}

@media (min-width: 576px) {
  .project-more-info p {
    margin-right: 0;
  }
}

/*@media (min-width: 768px) {
  .project-more-info p {
    margin-right: 30%;
  }
}*/

@media (min-width: 768px) {
  .project-more-info p {
    margin-right: 40%;
  }
}

.project-more-info .bottom {
  padding: 2rem 0 0 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.project-more-info .bottom .inner img {
  width: 100%;
}

.ww-portfolio .project-services {
  padding: 3rem 3rem;
}

.ww-portfolio .project-service {
  padding: 3rem 0 0;
}

@media (min-width: 576px) {
  .ww-portfolio .project-services {
    padding: 3rem;
  }
}

@media (min-width: 768px) {
  .ww-portfolio .project-services {
    padding: 3rem 6rem;
  }
}

@media (min-width: 1440px) {
  .ww-portfolio .project-services {
    padding: 6rem 3rem;
  }
}

.songbird-portfolio .content-column-left,
.songbird-portfolio .content-column-right {
    padding-right: 3rem;
    padding-left: 3rem;
}

@media (min-width: 576px) {
  .songbird-portfolio .content-column-left,
  .songbird-portfolio .content-column-right {
    padding-right: 6rem;
    padding-left: 6rem;
  }
}

@media (min-width: 768px) {
  .songbird-portfolio .content-column-left {
    padding-right: 0;
    padding-left: 6rem;
  }

  .songbird-portfolio .content-column-right {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 992px) {
  .songbird-portfolio .content-column-left {
    padding-left: 10rem;
  }
}

.songbird-portfolio .project-service {
  margin: 0;
  height: 100%;
  text-align: center;
}

@media (min-width: 576px) {
  .songbird-portfolio .project-service {
    text-align: inherit;
    margin: 3rem 0 0;
  }
}

.songbird-portfolio .songbird-portfolio-services .row .songbird-portfolio-services-col3 {
  margin-right: 0;
}

.songbird-portfolio .project-service img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 576px) {
  .songbird-portfolio .songbird-portfolio-services .col-sm-3 {
      max-width: 26.1%;
  }

  .songbird-portfolio .songbird-portfolio-services .col-sm-6 {
      max-width: 46.5%;
  }

  .songbird-portfolio .songbird-portfolio-services .row .songbird-portfolio-services-col3 {
    margin-right: -50%;
  }
}

@media (min-width: 768px) {
  .songbird-portfolio .songbird-portfolio-services .col-sm-3 {
      max-width: 26.1%;
  }

  .songbird-portfolio .songbird-portfolio-services .col-sm-6 {
      max-width: 44.5%;
  }
}

@media (min-width: 992px) {
  .songbird-portfolio .songbird-portfolio-services .col-sm-3 {
      max-width: 26.1%;
  }

  .songbird-portfolio .songbird-portfolio-services .col-sm-6 {
      max-width: 46%;
  }
}

@media (min-width: 1200px) {
  .songbird-portfolio .songbird-portfolio-services .col-sm-3 {
      max-width: 26.1%;
  }

  .songbird-portfolio .songbird-portfolio-services .col-sm-6 {
      max-width: 46.75%;
  }
}

@media (min-width: 1440px) {
  .songbird-portfolio .songbird-portfolio-services .col-sm-3 {
      max-width: 26.1%;
  }

  .songbird-portfolio .songbird-portfolio-services .col-sm-6 {
      max-width: 47%;
  }
}

@media (min-width: 1600px) {
  .songbird-portfolio .songbird-portfolio-services .col-sm-3 {
      max-width: 26.1%;
  }

  .songbird-portfolio .songbird-portfolio-services .col-sm-6 {
      max-width: 47.5%;
  }
}
