/**
 * Songbird page
 */

/* jumbotron */

.ww-portfolio .jumbotron {
    background-image: linear-gradient(134deg, #29C5B3 0%, #008980 97%);
    margin-bottom: 0;
  padding-top: 8rem;
    position: relative;
}

@media (min-width: 1200px) {
    .ww-portfolio .jumbotron {
        padding-left: 25rem;
        padding-right: 25rem;
    }
}

.ww-hero-image {
  margin-bottom: -2rem;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
}

@media (min-width: 576px){
  .ww-hero-image {
    margin-bottom: -4rem;
  }
}

@media (min-width: 992px){
  .ww-hero-image {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
}


.jumbotron-logo-project {
    width: 231px;
    /*height: 78px;*/
    display: block;
    padding-bottom: 2rem;
    position: relative;
    margin: auto;
}

@media (min-width: 992px){
.jumbotron-logo-project {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 20%;
    padding: 0;
  }
}

.scroll-down-arrow {
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: url(/images/icon-arrow-bottom.svg);
    opacity: .2;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    display: none;
    position: absolute;
    margin: auto;
    left: 100%;
    bottom: 0;
    right: 0;
}

.scroll-down-arrow:hover {
    opacity: 1;
}

@media (min-width: 992px) {
    .scroll-down-arrow {
        display: block;
        left: 50%;
    }
}

@media (min-width: 1440px) {
      .scroll-down-arrow {
          left: 25%;
      }
}

/* portfolio */

.portfolio {
    padding: 0 0 3rem;
}

@media (min-width: 768px) {
  .portfolio {
      padding: 0 3rem 6rem;
  }
}

@media (min-width: 992px) {
    .portfolio {
        background-repeat: no-repeat;
        background-image: url('/images/songbird-carousel-placeholder-2x.png');
        background-size: 50%;
        background-position: right 6rem;
        margin: 6rem 0 6rem 0;
    }
}

@media (min-width: 1440px) {
    .portfolio {
        background-size: 35%;
        /*background-position: right 6rem;*/
    }
}

/*@media (min-width: 576px) {
    .portfolio-text {
        margin-bottom: 8rem;
        min-height: 636px;
    }
}

@media (min-width: 992px) {
    .portfolio-text {
        padding: 0 75px;
    }
}*/

/*.portfolio-paragraph {
  margin-top: 6rem;
}*/

@media (min-width: 992px) {
    .portfolio-paragraph {
      margin: 6rem 0 6rem 2rem;
    }
}

@media (min-width: 1440px) {
    .portfolio-paragraph {
      margin: 6rem 0 6rem 6rem;
    }
}

/*.portfolio-image {
    background-repeat: no-repeat;
    background-image: url('/images/songbird-carousel-placeholder.png');
}*/

/*@media (min-width: 576px) {
    .portfolio-image {
        background-repeat: no-repeat;
        background-image: url('/images/songbird-carousel-placeholder.png');
    }
}*/

.portfolio-service {
    margin: 40px 0;
}

.portfolio-service-icon {
    margin-bottom: 27px;
}

.portfolio-service-heading {
    font-size: 24px;
    font-weight: 300;
    color: #4A4A4A;
    margin-bottom: 16px;
}

.portfolio-service-text {
    max-width: 100%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    color: #989898;
}

@media (min-width: 992px) {
  .portfolio-service-text {
      max-width: 325px;
  }
}
/*
@media (min-width: 1200px) {
  .project-description {
    background-position: 100% top;
    background-size: contain;
  }
}*/

.project-more-info {
  background: url('/images/portfolio_bgd_amadeus.jpg') no-repeat;
  background-size: cover;
  background-position: center top;
  font-size: 1.5rem;
    color: #282828;
    /*padding: 0;*/
}

.project-more-info .top {
  padding: 4rem 3rem 34rem;
}

@media (min-width: 576px) {
  .project-more-info .top {
    padding: 3rem 3rem 26rem;
  }
}

@media (min-width: 768px) {
  .project-more-info .top {
    padding: 6rem 6rem 20rem;
  }
}

@media (min-width: 992px) {
  .project-more-info .top {
    padding: 10rem 10rem 20rem;
  }
}

.project-more-info h2 {
  font-size: 3.4rem;
  font-weight: 300;
  margin-bottom: 1.7rem;
}

.project-more-info p {

}

@media (min-width: 576px) {
  .project-more-info p {
    margin-right: 0;
  }
}

/*@media (min-width: 768px) {
  .project-more-info p {
    margin-right: 30%;
  }
}*/

@media (min-width: 768px) {
  .project-more-info p {
    margin-right: 40%;
  }
}

.project-more-info .bottom {
  padding: 2rem 0 0 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.project-more-info .bottom .inner img {
  width: 100%;
}

.ww-portfolio .project-services {
  padding: 3rem 3rem;
}

@media (min-width: 576px) {
  .ww-portfolio .project-services {
    padding: 3rem;
  }
}

@media (min-width: 768px) {
  .ww-portfolio .project-services {
    padding: 3rem 6rem;
  }
}

@media (min-width: 1440px) {
  .ww-portfolio .project-services {
    padding: 6rem 3rem;
  }
}


.ww-portfolio .project-service {
  margin:3rem 0;
}
