/**
 * Studio info
 */

.studio-container {
    margin-top: 35px;
}

@media (min-width: 576px) {
    .studio-container {
        margin-top: 130px;
    }
}

.studio-heading {
    font-size: 36px;
    font-family: "aleobold";
    color: rgb(0, 0, 0);
}

@media (min-width: 576px) {
    .studio-heading {
        font-size: 43px;
    }
}

.studio-copy {
    font-size: 25px;
    color: rgb(0, 0, 0);
    line-height: 1.5;
}

@media (min-width: 576px) {
    .studio-copy {
        font-family: "aleoregular";
        line-height: 2.074;
    }
}


/**
 * Team info
 */

.studio-team-container {
    margin-top: 70px;
}

@media (min-width: 576px) {
    .studio-team-container {
        margin-top: 130px;
    }
}

.studio-team-heading {
    font-size: 40px;
    font-family: "aleobold";
    color: rgb(0, 0, 0);
}

@media (min-width: 576px) {
    .studio-team-heading {
        font-size: 45px;
    }
}

.studio-team-person {
    position: relative;
}

.studio-team-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
        to top,
        black,
        rgba(0, 0, 0, 0)
    );
    opacity: 0;
    transition: .5s;
}

.studio-team-overlay:hover {
    opacity: 1;
}

.studio-team-person-wrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 0;
    padding: 0 30px;
    width: 100%;
}

.studio-team-person-detail-wrapper {
    flex-grow: 1;
}

.studio-team-person-name {
    font-size: 28px;
    color: rgb(255, 255, 255);
    margin-bottom: 4px;
}

.studio-team-person-title {
    font-size: 21px;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    margin-bottom: 34px;
}

.studio-team-person-linkedin-wrapper {
    flex-grow: 0;
    align-self: flex-end;
    margin-left: 30px;
}

.studio-team-person-linkedin {
    text-decoration: none;
}

.studio-team-person-linkedin img {
    width: 25px;
    margin-bottom: 37px;
}

.studio-team-person-rule {
    width: 50px;
    border-color: #EF2198;
    opacity: 1;
    position: absolute;
    bottom: 10px;
    margin-left: 29px;
    left: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.studio-team-person-linkedin-wrapper:hover + .studio-team-person-rule {
    width: 27px;
    left: 100%;
    margin-left: -56px;
}
