/**
 * Studio info
 */

.studio-container {
    margin-top: 35px;
}

@media (min-width: 576px) {
    .studio-container {
        margin-top: 130px;
    }
}

.studio-heading {
    font-size: 45px;
    font-family: "aleobold";
    color: rgb(0, 0, 0);
}

.studio-copy {
    font-size: 27px;
    font-family: "aleoregular";
    color: rgb(0, 0, 0);
    line-height: 1.5;
}

@media (min-width: 576px) {
    .studio-copy {
        line-height: 2.074;
    }
}
