/* jumbotron */

.ww-portfolio .jumbotron {
    background-image: radial-gradient(#4B940F 0%, #85D444 48%, #4B940F 100%);
    margin-bottom: 0;
    position: relative;
    padding-top: 8rem;
}

.jumbotron-logo-project {
    width: 199px;
    display: block;
    position: relative;
    margin: auto;
    padding-bottom: 2rem;
  }


@media (min-width: 992px){
.jumbotron-logo-project {
    margin: auto 0;
    position: absolute;
    top: -13rem;
    bottom: 0;
    right: -1rem;
    padding: 0;
  }
}

.scroll-down-arrow {
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: url(/images/icon-arrow-bottom.svg);
    opacity: .2;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    display: none;
    position: absolute;
    margin: auto;
    left: 100%;
    bottom: 0;
    right: 0;
}

.scroll-down-arrow:hover {
    opacity: 1;
}

@media (min-width: 992px) {
    .scroll-down-arrow {
        display: block;
        left: 25%;
    }
}

@media (min-width: 1200px) {
      .scroll-down-arrow {
          left: 40%;
      }
}

@media (min-width: 1440px) {
      .scroll-down-arrow {
          left: 60%;
      }
}

@media (max-width: 575px) {
  .portfolio-header {
    margin: 3rem 0 3rem;
  }
}

/* portfolio */

.wagz-portfolio {
    padding: 0 0 3rem 0;
}

@media (min-width: 576px) {
    .wagz-portfolio {
        padding: 0;
    }
}

@media (min-width: 768px) {
    .wagz-portfolio {
        padding: 0;
    }
}
@media (min-width: 992px) {
    .wagz-portfolio {
        padding: 3rem 0 0 0;
    }
}

.wagz-portfolio-paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #7C7C7C;
    line-height: 36px;
    margin-bottom: 3rem;
}

.wagz-portfolio-image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    min-height: 436px;
    background-image: url('/images/wagz-carousel-placeholder-2x.png');
    padding: 0;
    display: none;
    margin-bottom: 4rem;
}

@media (min-width: 576px) {
    .wagz-portfolio-image {
        background-position: center top;
        display: block;
        margin-bottom: 4rem;
    }
}
@media (min-width: 768px) {
    .wagz-portfolio-image {
        background-position: center top;
        margin-bottom: 6rem;
        background-size: contain;
        min-height: 500px;
    }
}

@media (min-width: 992px) {
    .wagz-portfolio-image {
        background-position: 100% top;
        background-size: 100%;
        margin-bottom: 0;
    }
}

@media (min-width: 1200px) {
    .wagz-portfolio-image {
        background-position: 100% top;
        background-size: 98%;
        margin-bottom: 2rem;
    }
}

@media (min-width: 1440px) {
    .wagz-portfolio-image {
        margin-bottom: 2rem;
        min-height: 600px;
        background-size: contain;
    }
}

.wagz-portfolio-text {
    margin-bottom: 0;
}

@media (min-width: 576px) {
    .wagz-portfolio-text {
        margin-bottom: 4rem;
    }
}

@media (min-width: 768px) {
    .wagz-portfolio-text {
        padding: 0 3rem 0 0;
        margin-bottom: 0;
    }
}

@media (min-width: 992px) {
    .wagz-portfolio-text {
        padding: 0 3rem 6rem 0;
        margin-bottom: 0;

    }
}

@media (min-width: 1200px) {
    .wagz-portfolio-text {
        padding: 0 3rem 0 0;
    }
}


/* service */

.wagz-service {
    margin: 40px 0;
}

.wagz-service-circle {
    margin-bottom: 27px;
}

.wagz-service-heading {
    font-size: 24px;
    font-weight: 300;
    color: #4A4A4A;
    margin-bottom: 16px;
}

.wagz-service-text {
    max-width: 292px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    color: #7C7C7C;
}

@media (min-width: 576px) {
    .wagz-service-dog {
        margin-top: 178px;
    }
}

.portfolio-testimonial {
  position: relative;
  background: url('/images/portfolio_bgd_wagz.jpg') no-repeat;
  background-size: cover;
  background-position: 10% center;
  min-height: 620px;
  color: #fff;
  line-height: 4.8rem;
  font-size: 2.2rem;
  padding: 3rem 3rem;
}

.portfolio-testimonial:before {
  content: "";
  opacity: 0.65;
  background-color: #000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
}

@media (min-width: 1200px) {
    .portfolio-testimonial:before {
        opacity: 0;
    }
}

.ww-content {
  z-index: 3;
}

.ww-content .home-carousel-testimonial-author-title {
  font-size: 2rem;
  margin-top: 2rem;
  line-height: normal;
}

@media (min-width: 768px) {
    .portfolio-testimonial {
        padding: 10rem 6rem;
        width: 100%;
        min-height: 420px;
    }
}

.portfolio-testimonial p {
  text-align: center;
  margin-left: 0%;
  padding: 0 3rem;
}

@media (min-width: 576px) {
    .portfolio-testimonial p {
        max-width: 100%;
        padding: 0;
        margin: 3rem;
    }
}

@media (min-width: 992px) {
    .portfolio-testimonial p {
        max-width: 70%;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .portfolio-testimonial p {
        max-width: 46%;
        margin-left: 45%;
    }
}

.portfolio-testimonial img {
  margin: 2rem 0 0 0;
}

#wagz-carousel-hero {
  margin: 1rem 4rem 0 4rem;
  padding: 0;
}

@media (min-width:576px) {
  #wagz-carousel-hero {
    margin: 2rem auto -2rem auto;
    max-width: 400px;
  }
}

@media (min-width:992px) {
  #wagz-carousel-hero {
    margin: -3.6rem 0 -2rem 0;
    max-width: none;
  }
}

#wagz-carousel-hero > .img-fluid {
  display: block;
  position: absolute;
  margin: 0;
  top: -2.3%;
  left: 50%;
  margin-left: -50.5%;
  width: 93.5%;
  height: 98%;
}

#wagz-carousel-hero .carousel-inner {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 78%;
  overflow: visible;
}

#wagz-carousel-hero .carousel-inner .carousel-item {
  width: 100%;
  top: 9.9%;
}

#wagz-carousel-hero .carousel-inner .carousel-item .img-fluid {
  position: relative;
  width: 33.8%;
  left: -2.4%;
}

.wagz-portfolio .wagz-portfolio-services {
  padding-bottom: 3rem;
}

.wagz-portfolio .wagz-portfolio-services .row > [class*='col-']:last-child {
  padding-top: 6rem;
}

@media (min-width: 576px) {
  .wagz-portfolio .wagz-portfolio-services {
    padding-bottom: 6rem;
  }

  .wagz-portfolio .wagz-portfolio-services .row > [class*='col-']:last-child {
    padding-top: 0;
  }
}

.wagz-portfolio .project-service {
  background: #FFFFFF;
  box-shadow: 0 2px 15px 0 rgba(0,0,0,0.20);
  margin: 0 0 3rem;
  height: 100%;
}

.wagz-portfolio .project-service img {
  max-width: 100%;
  height: auto;
  margin-bottom: 27px;
}

.wagz-portfolio .portfolio-service-body {
  margin: 40px 0;
}

.wagz-portfolio .portfolio-service-heading {
    padding: 0 3rem 1.3rem;
    font-size: 1.8rem;
    color: #282828;
    font-weight: 700;
}

.wagz-portfolio .portfolio-service-text {
    max-width: 100%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    color: #989898;
    padding: 0 3rem 3rem;
}

.project-description {
  padding: 0 3rem;
  margin-bottom: 3rem;
}

@media (min-width: 576px) {
    .project-description {
      padding: 0 6rem;
    }
}

@media (min-width: 768px) {
    .project-description {
      padding: 0 1rem 0 6rem;
      margin-top: 0;
    }
}

@media (min-width: 992px) {
    .project-description {
      padding: 0 1rem 0 10rem;
    }
}

.project-description ul {
  border-left: 4px solid #83BA1C;
  margin: 6rem 0 6rem 2rem;
  list-style: none;
}

@media (min-width: 992px) {
  .project-description ul {
    margin: 4rem 0 4rem 2rem;
  }
}

@media (min-width: 1200px) {
  .project-description ul {
    margin: 6rem 0 6rem 2rem;
  }
}

.project-description ul li {
    max-width: 100%;
    margin: 0 auto 2rem;
    padding: 0.5rem 3rem 0 0;
    line-height: 2rem;
    font-size: 1.8rem;
    color: #1e2128;
    font-weight: 200;
}

.project-description ul li:last-child {
    padding-bottom: 0;
}

@media (min-width: 1200px) {
  .project-description ul li {
    line-height: normal;
  }
}

.project-description ul li h4 {
    color: #1e2128;
    font-size: 1.8rem;
    font-weight: 200;
    font-weight: bolder;
    display: inline;
}

