/* jumbotron */

.wagz-jumbotron {
    background: linear-gradient(to bottom right, #4B940F, #83BA1C);
    margin-bottom: 0;
    position: relative;
}

@media (min-width: 1200px) {
    .wagz-jumbotron {
        padding-left: 92px;
        padding-right: 92px;
    }
}

.jumbotron-logo-project {
    width: 241px;
  }


@media (min-width: 992px){
.jumbotron-project-logo {
    position: absolute;
    top: 40%;
    right:0;
  }
}

.home-carousel-header-arrow {
  left:50%;
}

/*.wagz-jumbotron-logo-site {
    width: 27px;
    position: absolute;
    top: 37px;
    left: 45px;
}*/

.wagz-jumbotron-grid {
    position: absolute;
    top: 39px;
    right: 136px;
    z-index: 3;
}

.wagz-jumbotron-left {
    position: absolute;
    top: 37px;
    right: 85px;
}

.wagz-jumbotron-right {
    position: absolute;
    top: 37px;
    right: 45px;
}

/*.wagz-jumbotron-heading {
    font-size: 60px;
    font-weight: 200;
    line-height: 60px;
    color: #FFFFFF;
}*/

.wagz-jumbotron-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
}

.wagz-jumbotron-bottom {
    margin-top: 51px;
    opacity: 0.3;
}

/*.wagz-jumbotron .jumbotron-logo-project {
  width: 199px;
  position: absolute;
  top: 40%;
}*/

/*.wagz-jumbotron-logo-project-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
}*/


/* portfolio */

.wagz-portfolio {
    padding: 34px 0 0;
}

/*@media (min-width: 576px) {
    .wagz-portfolio {
        padding: 34px 0;
    }
}

@media (min-width: 992px) {
    .wagz-portfolio {
        padding: 34px 0 34px 110px;
    }
}*/

.wagz-portfolio-heading-secondary {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 5px;
    color: #7C7C7C;
    margin-bottom: 17px;
}

.wagz-portfolio-heading-primary {
    font-size: 36px;
    font-weight: 300;
    color: #282828;
    margin-bottom: 32px;
}

.wagz-portfolio-paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #7C7C7C;
    line-height: 36px;
    margin-bottom: 3rem;
}



.wagz-portfolio-image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    min-height: 436px;
    background-image: url('../images/wagz-carousel-placeholder.png');
}

@media (min-width: 576px) {
    .wagz-portfolio-image {
        background-position: top;
    }
}

@media (min-width: 576px) {
    .wagz-portfolio-text {
        margin-bottom: 8rem;
        min-height: 636px;
    }
}

@media (min-width: 992px) {
    .wagz-portfolio-text {
        padding: 0 75px;
    }
}


/* service */

.wagz-service {
    margin: 40px 0;
}

.wagz-service-circle {
    margin-bottom: 27px;
}

.wagz-service-heading {
    font-size: 24px;
    font-weight: 300;
    color: #4A4A4A;
    margin-bottom: 16px;
}

.wagz-service-text {
    max-width: 292px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    color: #7C7C7C;
}

@media (min-width: 576px) {
    .wagz-service-dog {
        margin-top: 178px;
    }
}

.portfolio-testimonial {
  background: url('/images/portfolio_bgd_wagz.jpg') no-repeat;
  background-size: cover;
  background-position: left center;
  min-height: 620px;
  color: #fff;
  line-height: 4.8rem;
  font-size: 2.2rem;
  padding: 3rem 3rem;
}

@media (min-width: 768px) {
    .portfolio-testimonial {
        padding: 10rem 6rem;
        width: 100%;
        min-height: 420px;
    }
}

.portfolio-testimonial p {
text-align: center;
margin-left: 0%;
}

@media (min-width: 576px) {
    .portfolio-testimonial p {
        max-width: 70%;
        text-align: center;
        margin-left: 20%;
    }
}

@media (min-width: 768px) {
    .portfolio-testimonial p {
        max-width: 50%;
        text-align: center;
        margin-left: 40%;
    }
}

.portfolio-testimonial img {
margin: 2rem 0 0 0;
}
