/**
 * Work page
 */

/* navigation */

.page-navigation-link {
    color: #535558;
}

.page-navigation-link-active {
    color: #CF0D7D;
}

.page-navigation-link:hover {
    color: #CF0D7D;
    text-decoration: none;
    border-bottom: 1px solid #CF0D7D;
}


/* header section */

.work-header {
    position: relative;
    padding-top: 150px;
}

@media (min-width: 768px) {
    .work-header {
        padding-top: 71px;
    }
}
  
.work-logo {
    width: 27px;
    position: fixed;
    top: 37px;
    left: 45px;
    z-index: 3;
}

.work-header-heading {
    font-size: 36px;
    font-weight: 300;
    color: #282828;
    margin-bottom: 16px;
}

.work-header-text {
    font-size: 18px;
    color: #7C7C7C;
    line-height: 36px;
    max-width: 578px;
    margin-bottom: 40px;
}


/* portfolio section */

.work-item {
    margin-bottom: 30px;
}

.work-item-container {
    height: 100%;
    min-height: 220px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

@media (min-width: 576px) {
    .work-item-container {
        min-height: 320px;
    }
}

@media (min-width: 768px) {
    .work-item-container {
        min-height: 420px;
    }
}

.work-item-nye { background-image: url('../images/work-item-background-nye.jpg'); }
.work-item-wagz { background-image: url('../images/work-item-background-wagz.jpg'); }
.work-item-amadeus { background-image: url('../images/work-item-background-amadeus.jpg'); }
.work-item-fpo1 { background-image: url('../images/work-item-background-fpo1.jpg'); }
.work-item-fpo2 { background-image: url('../images/work-item-background-fpo2.jpg'); }
.work-item-fpo3 { background-image: url('../images/work-item-background-fpo3.jpg'); }
.work-item-fpo4 { background-image: url('../images/work-item-background-fpo4.jpg'); }
.work-item-fpo5 { background-image: url('../images/work-item-background-fpo5.jpg'); }
.work-item-fpo6 { background-image: url('../images/work-item-background-fpo6.jpg'); }
.work-item-fpo7 { background-image: url('../images/work-item-background-fpo7.jpg'); }
.work-item-fpo8 { background-image: url('../images/work-item-background-fpo8.jpg'); }
.work-item-fpo9 { background-image: url('../images/work-item-background-fpo9.jpg'); }
.work-item-fpo10 { background-image: url('../images/work-item-background-fpo10.jpg'); }
.work-item-fpo11 { background-image: url('../images/work-item-background-fpo11.jpg'); }

.work-item-container:hover .work-item-overlay {
    opacity: 1;
}

.work-item-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s;
}

.work-item-overlay-nye { background-color: rgba(60, 161, 94, 0.9) }
.work-item-overlay-wagz { background-color: rgba(87, 155, 18, 0.9) }
.work-item-overlay-amadeus { background-color: rgba(205, 25, 64, 0.9) }

.work-item-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.work-item-logo {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    height: 70px;
    display: block;
}

.work-item-logo-nye { height: 70px; }
.work-item-logo-wagz { height: 69px; }
.work-item-logo-amadeus { height: 21px; }

.work-item-text {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 28px;
    max-width: 339px;
    margin-bottom: 42px;
}

.work-item-button {
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    border: 0.5px solid #fff;
    padding: 11px 27px;
    display: inline-block;
}

.work-item-button:hover {
    color: #fff;
}
