AddType video/mp4 mp4 .mp4
AddType video/webm webm .webm
AddType text/css css .css

# Turn on the rewriting engine
RewriteEngine On

# Redirect /about to /studio
RewriteRule ^([/about]+)/?$ /studio [NC,R=301]

# Redirect /work to /case-studies
RewriteRule ^([/work]+)/?$ /case-studies [NC,R=301]

# Rewrite ("link") URLs like /studio or /case-studies or /work/amadeus to
# ?page=/studio or ?page=/case-studies or ?page=/work/amadeus
RewriteRule ^([/a-z-]+)/?$ ?page=/$1 [NC,L]
