/**
 * Global styles
 */

body {
  font-family: 'Assistant', sans-serif;
}


/**
 * Navigation
 */

.pl-nav {
  position: absolute;
  top: 38px;
  right: 61px;
  z-index: 1;
  font-size: 18px;
}

.pl-nav-link {
  color: #FFF;
}

.pl-nav-link:last-child {
  margin-left: 36px;
}


/**
 * Homepage
 */

.pl-logo-hero {
  position: absolute;
  z-index: 1;
  width: 88px;
  top: 225px;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 1s;
}

.pl-logo-hero-animate {
  width: 27px;
  top: 38px;
  left: 61px;
  transform: translate(0, 0);
}

#carouselHome {
  height: 760px;
  position: relative;
}

#carouselHome .carousel-inner {
  height: 100%;
}

#carouselHome .carousel-item {
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#carouselHome .carousel-item1 { background-image: url(images/carousel-home/slide1.jpg);}

#carouselHome .carousel-caption {
  bottom: auto;
  top: 381px;
}

.carousel-text {
  font-size: 28px;
  color: #FFF;
  line-height: 64px;
}

#carouselHome .carousel-arrow {
  cursor: pointer;
  position: absolute;
  bottom: 86px;
  left: 50%;
  transform: translate(-50%, 0);
}

.workwith-text {
  line-height: 36px !important;
}

.workwith-item {
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.10);
  margin-bottom: 78px;
}

.workwith-item-icon {
  height: 198px;
}

.workwith-item-heading {
  font-weight: 400 !important;
}

.workwith-item-text {
  font-size: 16px;
  font-weight: 300;
  color: #737373;
  line-height: 24px;
  margin: 18px 40px;
  text-align: center;
}

.workwith-item-arrow {
  cursor: pointer;
}


/**
 * Testimonials
 */

#carouselTestimonials .carousel-item {
  height: 1000px;
}

@media (min-width: 576px) {
  #carouselTestimonials .carousel-item {
    height: 761px;
  }
}

#carouselTestimonials .carousel-item-scribe {
  background-color: #139CE4;
}

#carouselTestimonials .carousel-item-adobe {
  background-color: #F61A34;
}

#carouselTestimonials .carousel-item-amadeus {
  background-color: #1773CF;
}

#carouselTestimonials .carousel-caption {
  bottom: auto;
  top: 87px;
}

#carouselTestimonials .carousel-item-scribe .testimonial-logo {
  height: 29px;
  margin: 50px 0;
}

#carouselTestimonials .carousel-item-adobe .testimonial-logo {
  height: 85px;
  margin: 24px 0;
}

#carouselTestimonials .carousel-item-amadeus .testimonial-logo {
  height: 45px;
  margin: 44px 0;
}

#carouselTestimonials .testimonial-text {
  font-size: 30px;
  font-weight: 300;
  line-height: 44px;
}

#carouselTestimonials .testimonial-author {
  height: 70px;
  margin: 65px 0 8px;
}

#carouselTestimonials .testimonial-author-title {
  font-size: 20px;
  line-height: 44px;
}

#carouselTestimonials .carousel-indicators {
  bottom: 51px;
}

#carouselTestimonials .carousel-indicators li {
  max-width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.2);
  margin-left: 6.5px;
  margin-right: 6.5px;
}

#carouselTestimonials .carousel-indicators .active {
  background-color: #fff;
}


/**
 * Dropdown menu
 */

.dropdown {
  position: absolute;
  top: 37px;
  left: 45px;
  z-index: 1;
}

.dropdown-logo {
  width: 27px;
}

.dropdown-content {
  height: 0;
  overflow: hidden;
  padding-top: 20px;
  opacity: 0;
  transition: all 1s;
}

.dropdown-link {
  line-height: 26px;
  display: block;
  color: #fff;
}

.dropdown-link:hover {
  color: #fff;
  text-decoration: none;
}

.dropdown-horizontal-rule {
  margin: 0 0 8px;
  border: 1px solid #fff;
  opacity: 0.5;
  width: 20px;
}

.dropdown:hover .dropdown-content {
  height: 200px;
  opacity: 1;
}


/**
 * Headings
 */

.pl-heading-xl {
  font-size: 60px;
  font-weight: 200;
  line-height: 60px;
}

.pl-heading-lg {
  font-size: 48px;
  font-weight: 300;
}

.pl-heading-md {
  font-size: 36px;
  font-weight: 300;
}

.pl-heading-sm {
  font-size: 24px;
  font-weight: 300;
}

.pl-heading-xs {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 5px;
}


/**
 * Colors
 */

.pl-color-white {
  color: #FFFFFF;
}

.pl-color-boulder {
  color: #7C7C7C;
}

.pl-color-mineshaft {
  color: #282828;
}

.pl-color-tundora {
  color: #4A4A4A;
}

.pl-color-dovegrey {
  color: #737373
}

.pl-color-fiord {
  color: #404F60;
}

.pl-color-dustygrey {
  color: #9B9B9B;
}


/**
 * Text
 */

.pl-text-xs {
  font-size: 12px;
  font-weight: 400;
  line-height: 60px;
}

.pl-text-sm {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.pl-text-md {
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
}

.pl-text-lg {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.pl-text-xl {
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
}


/**
 * Project jumbotron
 */

.project-jumbotron {
  margin-bottom: 0;
}

@media (min-width: 1200px) {
  .project-jumbotron {
    padding-left: 92px;
    padding-right: 92px;
  }
}

@media (min-width: 1200px) {
  .project-jumbotron-padding {
    padding-left: 33px;
    padding-right: 33px;
  }
}

.pl-logo {
  width: 27px;
  position: absolute;
  top: 40px;
  left: 45px;
}

.icon-grid-view {
  position: absolute;
  top: 39px;
  right: 136px;
}

.icon-arrow-left {
  position: absolute;
  top: 37px;
  right: 85px;
}

.icon-arrow-right {
  position: absolute;
  top: 37px;
  right: 45px;
}

.icon-arrow-bottom {
  margin-top: 51px;
}

@media (min-width: 1200px) {
  .pl-heading-jumbotron {
    margin-bottom: 217px;
  }
}

.project-logo {
  height: 40px;
}

.project-logo-amadeus {
  height: 22px;
}


/**
 * Diagonal gradients
 */

/* Wagz */
.diagonal-grad-1 {
  background: linear-gradient(to bottom right, #4B940F, #83BA1C);
}

/* Nye */
.diagonal-grad-2 {
  background: linear-gradient(to bottom right, #74D561, #066E5C);
}

/* Amadeus */
.diagonal-grad-3 {
  background: linear-gradient(to bottom right, #D91B3D, #8B054A);
}


/**
 * Page footer
 */

.page-footer {
  background-color: #1B1C25;
  padding-top: 100px;
  padding-bottom: 40px;
  position: relative;
}

@media (min-width: 992px) {
  .page-footer {
    padding-left: 110px;
  }
}

.page-footer-heading {
  line-height: 60px;
  font-weight: 200;
}

.footer-button {
  display: block;
  width: 100%;
  max-width: 300px;
  text-align: center;
  background: #C624AE;
  border-radius: 4px;
  font-weight: 300;
  font-size: 29px;
  color: #FFFFFF;
  padding: 8px 0;
  margin: 0 auto;
}

.footer-button:link {
  text-decoration: none;
}

.footer-links-container {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}

.footer-item {
  display: inline;
  margin-right: 22px;
}

.footer-link {
  color: #FFB1FE;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.footer-link:hover {
  color: #FFB1FE;
}

.footer-separator {
  margin: 0 15px;
  color: #979797;
  opacity: 0.3;
}


/**
 * Service info section
 */

.service-info {
  padding: 34px 0 0;
}

.service-info-heading1 {
  margin-bottom: 17px;
}

.service-info-heading2 {
  margin-bottom: 32px;
}

@media (min-width: 576px) {
  .service-info {
    padding: 34px 0;
  }
}

@media (min-width: 992px) {
  .service-info {
    padding: 34px 0 34px 110px;
  }

  .service-info-text {
    padding-right: 75px;
  }
}

.service-info-paragraph {
  line-height: 36px;
}

.service-info-image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  min-height: 636px;
}

.service-info-image-wagz {
  background-image: url('images/wagz-carousel-placeholder.png');
}

.service-info-image-nye {
  background-image: url('images/service-info-image-nye.png');
}


/**
 * Video section
 */

.project-video {
  position: relative;
}

.project-video-play {
  width: 154px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}


/**
 * How section
 */

.how-info {
  margin: 40px 0;
}

.how-heading {
  margin-bottom: 16px;
}

.how-circle {
  margin-bottom: 27px;
}

.how-text {
  max-width: 292px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .how-dog {
    margin-top: 178px;
  }
}


/**
 * Bottom jumbotron
 */

.bottom-jumbotron-bg-nye {
  height: 956px;
  background-image: url('images/bottom-jumbotron-bg-nye.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}


/**
 * About page
 */

.about-header {
  height: 760px;
  background-image: url('images/header-background-home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.about-logo {
  width: 27px;
  position: absolute;
  top: 37px;
  left: 45px;
}

.about-nav {
  position: absolute;
  top: 38px;
  right: 61px;
  z-index: 1;
  font-size: 18px;
}

.about-nav-link {
  color: #B6B6B6;
}

.about-nav-link:last-child {
  margin-left: 36px;
}

.about-nav-link:hover,
.about-nav-link-active {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #ED08D3;
}
