/**
 * Global styles
 */

body {
  font-family: 'Assistant', sans-serif;
}


/**
 * Navigation
 */

.pl-nav {
  position: absolute;
  top: 38px;
  right: 61px;
  z-index: 1;
  font-size: 18px;
}

.pl-nav-link {
  color: #FFF;
}

.pl-nav-link:last-child {
  margin-left: 36px;
}

#carouselHome {
  height: 760px;
  position: relative;
}

#carouselHome .carousel-inner {
  height: 100%;
}

#carouselHome .carousel-item {
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#carouselHome .carousel-item1 { background-image: url(images/carousel-home/slide1.jpg);}


/**
 * Dropdown menu
 */

.dropdown {
  position: absolute;
  top: 37px;
  left: 45px;
  z-index: 1;
}

.dropdown-logo {
  width: 27px;
}

.dropdown-content {
  height: 0;
  overflow: hidden;
  padding-top: 20px;
  opacity: 0;
  transition: all 1s;
}

.dropdown-link {
  line-height: 26px;
  display: block;
  color: #fff;
}

.dropdown-link:hover {
  color: #fff;
  text-decoration: none;
}

.dropdown-horizontal-rule {
  margin: 0 0 8px;
  border: 1px solid #fff;
  opacity: 0.5;
  width: 20px;
}

.dropdown:hover .dropdown-content {
  height: 200px;
  opacity: 1;
}


/**
 * Headings
 */

.pl-heading-xl {
  font-size: 60px;
  font-weight: 200;
  line-height: 60px;
}

.pl-heading-lg {
  font-size: 48px;
  font-weight: 300;
}

.pl-heading-md {
  font-size: 36px;
  font-weight: 300;
}

.pl-heading-sm {
  font-size: 24px;
  font-weight: 300;
}

.pl-heading-xs {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 5px;
}


/**
 * Colors
 */

.pl-color-white {
  color: #FFFFFF;
}

.pl-color-boulder {
  color: #7C7C7C;
}

.pl-color-mineshaft {
  color: #282828;
}

.pl-color-tundora {
  color: #4A4A4A;
}

.pl-color-dovegrey {
  color: #737373
}


/**
 * Text
 */

.pl-text-xs {
  font-size: 12px;
  font-weight: 400;
  line-height: 60px;
}

.pl-text-sm {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.pl-text-md {
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
}

.pl-text-lg {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.pl-text-xl {
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
}


/**
 * Project jumbotron
 */

.project-jumbotron {
  margin-bottom: 0;
}

@media (min-width: 1200px) {
  .project-jumbotron {
    padding-left: 92px;
    padding-right: 92px;
  }
}

@media (min-width: 1200px) {
  .project-jumbotron-padding {
    padding-left: 33px;
    padding-right: 33px;
  }
}

.pl-logo {
  width: 27px;
  position: absolute;
  top: 37px;
  left: 45px;
}

.icon-grid-view {
  position: absolute;
  top: 39px;
  right: 136px;
}

.icon-arrow-left {
  position: absolute;
  top: 37px;
  right: 85px;
}

.icon-arrow-right {
  position: absolute;
  top: 37px;
  right: 45px;
}

.icon-arrow-bottom {
  margin-top: 51px;
}

@media (min-width: 1200px) {
  .pl-heading-jumbotron {
    margin-bottom: 217px;
  }
}

.project-logo {
  height: 40px;
}

.project-logo-amadeus {
  height: 22px;
}


/**
 * Diagonal gradients
 */

/* Wagz */
.diagonal-grad-1 {
  background: linear-gradient(to bottom right, #4B940F, #83BA1C);
}

/* Nye */
.diagonal-grad-2 {
  background: linear-gradient(to bottom right, #74D561, #066E5C);
}

/* Amadeus */
.diagonal-grad-3 {
  background: linear-gradient(to bottom right, #D91B3D, #8B054A);
}


/**
 * Page footer
 */

.page-footer {
  background-color: #1B1C25;
  padding-top: 107px;
  padding-bottom: 40px;
  position: relative;
}

@media (min-width: 992px) {
  .page-footer {
    padding-left: 110px;
  }
}

.page-footer-heading {
  margin-bottom: 57px;
}

.footer-button {
  display: inline-block;
  background: #C624AE;
  border-radius: 4px;
  font-weight: 300;
  font-size: 29px;
  color: #FFFFFF;
  padding: 12px 100px;
  margin: 39px 0 43px 0;
}

.footer-button:link {
  text-decoration: none;
}

.footer-links-container {
  list-style: none;
  padding: 0;
  margin: 0 0 40px;
}

.footer-item {
  display: inline;
  margin-right: 22px;
}

.footer-link {
  color: #FFB1FE;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.footer-link:hover {
  color: #FFB1FE;
}


/**
 * Service info section
 */

.service-info {
  padding: 34px 0 0;
}

.service-info-heading1 {
  margin-bottom: 17px;
}

.service-info-heading2 {
  margin-bottom: 32px;
}

@media (min-width: 576px) {
  .service-info {
    padding: 34px 0;
  }
}

@media (min-width: 992px) {
  .service-info {
    padding: 34px 0 34px 110px;
  }

  .service-info-text {
    padding-right: 75px;
  }
}

.service-info-paragraph {
  line-height: 36px;
}

.service-info-image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  min-height: 636px;
}

.service-info-image-wagz {
  background-image: url('images/wagz-carousel-placeholder.png');
}

.service-info-image-nye {
  background-image: url('images/service-info-image-nye.png');
}


/**
 * Video section
 */

.project-video {
  position: relative;
}

.project-video-play {
  width: 154px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}


/**
 * How section
 */

.how-info {
  margin: 40px 0;
}

.how-heading {
  margin-bottom: 16px;
}

.how-circle {
  margin-bottom: 27px;
}

.how-text {
  max-width: 292px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .how-dog {
    margin-top: 178px;
  }
}


/**
 * Bottom jumbotron
 */

.bottom-jumbotron-bg-nye {
  height: 956px;
  background-image: url('images/bottom-jumbotron-bg-nye.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
